/**
 * @name Resize Stuff
 * @version 1.0
 * @description Resizes some stuff that annoys me, and just has general sizing changes
 * @author V3rzeT
 * 
 * @website http://github.com/V3rzeT
 * @source https://github.com/V3rzeT/BetterDiscordThemes/blob/main/ResizeStuff.theme.css
 */

/* Bigger Sidebar */
.sidebar-1tnWFu {
  width: 20%;
}

/* Align Bottom Panels Right Container to Right */
.sidebar-1tnWFu .panels-3wFtMD .container-YkUktl .flex-2S1XBF {
  margin-left: auto;
  margin-right: 0;
}

/* Bigger Channel size (to fit sidebar) */
.sidebar-1tnWFu .channel-1Shao0 {
  max-width: unset;
  margin-right: 8px;
}