/**
  * @name V3rzeT Theme
  * @author V3rzeT
  * @description Just my theme (:
  * @version 1.0
*/

@import url("https://dav1312.github.io/BD/SimpleBackground/main.css");

/* Main Theme Stuff */
:root {
    --generalColor: #0fefff;
    --border-Accent-Color: rgba(255, 255, 255, 0.555);

    --color-primary: transparent !important;
    --color-secondary: transparent !important;
    --color-tertiary: transparent !important;

    /* --background: url('https://i.imgur.com/rn0AlMm.jpg'); */
    --background: url('https://i.imgur.com/MjN1IF2.png');
    --chat-transparency: 0.7;
    --sides-transparency: 0.5;
    --sides-blur: 3px;
}

/* Left Sidebar */
.scroller-3X7KbA {
  background-color: rgba(255, 255, 255, 0.03);
}

/* Bottom Left User Panel */
.panels-3wFtMD {
  background-color: rgba(255, 255, 255, 0.03);
}

/* Server Member Panel */
.membersWrap-3NUR2t {
  background-color: rgba(255, 255, 255, 0.03);
}

/* Role Display Plugin Background fix */
.role-2TIOKu {
  background-color: rgba(0, 0, 0, 0.4);
}

/*Right Click Dialog*/
.menu-1QACrS {
  /* background: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), url(https://i.imgur.com/RyL5dyw.jpg); */
  background-color: rgba(255, 255, 255, 0.01);
  backdrop-filter:blur(10px);
  background-size: cover;
  box-shadow: 0px 0px 5px gray;
}
.label-2gNW3x {
  font-weight: 400;
  color: white;
}

/* Mute Mic Icon Fix */
.icon-N9JZb6 {
  color: white;
}
.strikethrough-2G7pYT {
  color: red;
}

/* Voice Channel People Count Transparency stuff */
.channelInfo-3jN1ay {
  border-width: 2px;
  border-radius: 12px;
  background-color: transparent;
  border-style: solid;
  border-color: rgba(255, 255, 255, 0.4);
}
.users-2JoyGL {
  color: white;
  background-color: rgba(255, 255, 255, 0.1);
}
.total-1c5KCN {
  color: white;
  background-color: rgba(255, 255, 255, 0.25);
}
.total-1c5KCN::after {
  border-right-color: rgba(255, 255, 255, 0.15);
}

/* Server Color Stuff */
.channelName-3KPsGw, .name-3BUDLf, .icon-2W8DHg, .addButtonIcon-3rJeaD, .actionIcon-2sw4Sl, .arrow-2HswgU, .icon-2xnN2Y, .membersGroup-2eiWxl {
  color: white !important;
}

/* Channel Selection */
.selected-2TbFuo .content-1gYQeQ, .selected-3veCBZ {
  background-color: rgba(255, 255, 255, 0.12) !important;
}
.content-1gYQeQ:hover, .interactive-1vLZ_I:hover {
  background-color: rgba(255, 255, 255, 0.08) !important;
}

/* Voice Chat Nickname Color Fix */
/* and */
/* Chat List Nickname Color Fix */
.usernameFont-2oJxoI, .name-2m3Cms {
  color: white;
  font-weight: normal;
}

/* Activity Status Color Fix */
.activityText-1rR-8O {
  color: white;
}

/* Text Input Field Transparency Stuff */
.scrollableContainer-15eg7h {
  background-color: rgba(255, 255, 255, 0.05) !important;
}

/* Jump To Present Message Bar */
.jumpToPresentBar-1cEnH0 {
  margin-bottom: 7px;
}

/* Gray Button */
.button-1EGGcP {
  background-color: rgba(255, 255, 255, 0.1) !important;
}

/* Message Style */
.username-h_Y3Us {
  font-weight: 600;
}
.messageContent-2t3eCI {
  color: white;
}
.timestamp-p1Df1m {
  font-weight: 700;
  color: rgb(184, 184, 184) !important;
}

/* Server Icon Panel Transparency Stuff */
.circleIconButton-1VxDrg {
  background: transparent !important;
  border-style: solid;
  border-width: 2px;
  border-radius: 30px;
  border-color: var(--border-Accent-Color);
}
.childWrapper-1j_1ub {
  background-color: rgba(0, 0, 0, 0.3);
}

/* User Popout */
.userPopout-2j1gM4 {
  background-color: rgba(0, 0, 0, 0.2);
  backdrop-filter: blur(10px);
  background-size: cover;
  box-shadow: 0px 0px 5px gray;
  border-radius: 0px;
}
.footer-3naVBw {
  background-color: transparent;
}
.bodyInnerWrapper-2bQs1k {
  background-color: transparent;
}
.banner-1YaD3N {
  background-color: transparent !important;
}
.inputWrapper-1YNMmM .inputDefault-3FGxgL {
  background-color: rgba(0, 0, 0, 0.2);
}
.bodyTitle-2Az3VQ {
  font-weight: 500;
  color: white !important;
}
.creationDate-CJwdKT {
  color: white;
}

/* Speaking User */
.speaking-7QZEkv {
  /* box-shadow: inset 0 0 0 2px var(--generalColor),inset 0 0 0 3px transparent !important; */
  box-shadow: inset 0px 0px 30px var(--generalColor),inset 0 0 0 3px var(--generalColor) !important;
  /* var(--background-secondary) */
}
.avatarSpeaking-2pCGrZ {
  /* box-shadow: inset 0 0 0 2px var(--generalColor),inset 0 0 0 3px transparent !important; */
  box-shadow: inset 0px 0px 10px var(--generalColor),inset 0 0 0 2px var(--generalColor) !important;
}

/* Sharing Screen Viewers Menu */
.scroller-3b1p7z {
  background-color: rgba(255, 255, 255, 0.2);
}

/* Scrollbar Stuff */
::-webkit-scrollbar {
  border: none!important;
  width: 5px!important;
  background-color: transparent !important;
}
::-webkit-scrollbar-track {
  background-color: rgba(255, 255, 255, 0.05) !important;
  border: none!important;
}
.scrollableContainer-15eg7h::-webkit-scrollbar-track {
  background-color: transparent !important;
}
::-webkit-scrollbar-track-piece {
  background: 0 0!important;
  border: none!important;
}
::-webkit-scrollbar-thumb {
  background: var(--generalColor)!important;
  border-radius: 20px!important;
  border: none!important;
}

.slateTextArea-27tjG0 {
  caret-color: white;
  left: -1px;
  top: -0.5px !important;
}

.content-3YMskv {
  background-color: transparent !important;
}

.scroller-3GIiMh, .searchResultsWrap-5RVOkx {
  background-color: transparent !important;
}

.hit-1fVM9e {
  background-color: rgba(56, 56, 56, 0.548) !important;
}

.focusLock-Ns3yie[aria-label=""] {
  border-style: solid;
  border-width: 1px;
  border-color: var(--generalColor);
  border-radius: 10px;
}

.da-repliedTextPreview {
  padding-right: 1%;
}

.optionContainer-15srkc {
  background-color: rgba(78, 78, 78, 0.425);
  border-style: solid !important;
  border-width: 1px !important;
  border-color: var(--generalColor) !important;
}

.jumpToPresentBar-G1R9s6 {
  background-color: rgba(78, 78, 78, 0.425);
  border-style: solid !important;
  border-width: 1px !important;
  border-color: #dbdbdb7c !important;
  border-radius: 2px !important;
}

.skip-1vOolA {
  border-style: solid !important;
  border-width: 2px !important;
  border-color: var(--generalColor) !important;
  border-radius: 10px !important;
}

.scrollerSpacer-avRLaA {
  height: 10px;
}

.theme-dark .divider-3_HH5L {
  color: transparent;
  background-color: transparent;
}

.actionButton-3W1xZa {
  border-style: solid;
  border-width: 1px;
  border-color: var(--generalColor);
  background-color: transparent !important;
}

.theme-dark .container-3w7J-x {
  background-color: transparent !important;
}

.actionButton-3W1xZa:hover {
  background-color: rgba(0, 0, 0, 0.1) !important;
}

.theme-dark .content-1o0f9g {
  color: white;
  background-color: transparent;
  text-align: center;
  width: 760px;
  border-radius: 0px;
}

.theme-dark .form-2fGMdU:before {
  display: none;
}

.theme-dark .layers-3iHuyZ {
  background: rgba(0, 0, 0, 0.7);
}
.theme-dark .typing-2GQL18,
.scroller-305q3I,
.theme-dark .layer-3QrUeG,
.theme-dark .messagesWrapper-3lZDfY,
.messages-3amgkR,
.container-PNkimc,
.sidebar-2K8pFh,
.theme-dark .wrapper-1Rf91z,
.theme-dark .scroller-2TZvBN,
.container-2lgZY8,
.theme-dark .chat-3bRxxu, 
.theme-dark .chat-3bRxxu form, 
.theme-dark .content-yTz4x3,
.theme-dark .contentRegion-3nDuYy,
.contentRegionScroller-26nc1e,
.theme-dark .sidebarRegion-VFTUkN,
.sidebarRegionScroller-3MXcoP,
.theme-dark .standardSidebarView-3F1I7i,
.theme-dark .container-1D34oG,
.theme-dark .peopleList-3c4jOR,
.scroller-1IIF0A,
.privateChannels-1nO12o,
.scroller-1JbKMe,
.applicationStore-1pNvnv,
.scroller-9moviB {
  background-color: transparent;
}
.theme-dark .container-1r6BKw {
  background: transparent;
  box-shadow: none;
  color: white;
}

.theme-dark .members-1998pB {
  background-color: rgba(0,0,0,.4);
}

/* BetterDiscord and Discord Settings */
.theme-dark .closeButton-1tv5uR {
  border-color: transparent;
}
.closeButton-1tv5uR {
  border-radius: 20%;
}
.theme-dark .closeButton-1tv5uR:hover {
  background-color: rgba(0, 0, 0, 0.5);
}
.theme-dark .keybind-KpFkfr {
  color: white;
}
.lookFilled-1Gx00P.colorBrand-3pXr91,
.lookFilled-1Gx00P.colorBrand-3pXr91:disabled {
  color: #fff;
  background-color: var(--generalColor);
}
.lookFilled-1Gx00P.colorBrand-3pXr91:hover {
  color: #fff;
  background-color: rgb(194, 0, 152);
}
.lookOutlined-3sRXeN.colorBrand-3pXr91 {
  color: white;
  border-color: #212988;
}
.lookOutlined-3sRXeN.colorBrand-3pXr91:hover {
  border-color: rgb(194, 0, 152);
}
.theme-dark .description-3_Ncsb, 
.theme-dark .labelDescriptor-1PqHgD,
.theme-dark .faded-3bns_w {
  color: silver;
}
.theme-dark .cardPrimary-1Hv-to,
.theme-dark .cardPrimaryEditable-3KtE4g {
  background: rgba(0, 0, 0, 0.4);
  border-color: black;
}
.card-3Qj_Yx {
  border-width: 2px;
  border-radius: 12px;
}
.statusRed-21U8Tp {
  color: #C9BF00;
}
.theme-dark .input-cIJ7To {
  color: white;
  background-color: rgba(0,0,0,.3);
  border-color: transparent;
}

.theme-dark .input-cIJ7To:hover {
  border-color: transparent;
  background-color: rgba(0,0,0,.5);
}

.theme-dark .input-cIJ7To:focus,
.theme-dark .input-cIJ7To.focused-1mmYsC {
  border-color: #C99200;
}

.input-cIJ7To {
  border-style: solid;
  border-radius: 11px;
}

.theme-dark .divider-3573oO {
  background-color: transparent;
}

.lookFilled-1Gx00P.colorGreen-29iAKY {
  color: #fff;
}

.lookOutlined-3sRXeN.colorGreen-29iAKY {
  color: white;
  border-color: #ffffff;
}

.bd-toast.toast-success {
  background-color: #149300;
  border: 1px solid black;
}
.bd-toast {
  background: rgba(0, 0, 0, 0.612);
  border-radius: 6px;
  box-shadow: 0 0 0 2px rgba(0, 0, 0, 0.6);
  border: 2px solid #122B3A;
}

.lookOutlined-3sRXeN.colorRed-1TFJan {
  color: white !important;
  border-color: #BA140B;
}
.lookOutlined-3sRXeN.colorRed-1TFJan:hover {
  border-color: #690500;
}

.lookFilled-1Gx00P.colorRed-1TFJan {
  color: #fff;
  background-color: transparent;
}
.lookFilled-1Gx00P.colorRed-1TFJan:hover {
  background-color: #BA140B;
}

.side-8zPYf6 .item-PXvHYJ[style*="color: rgb(240, 71, 71);"] {
  color: #BA140B !important;
}
.side-8zPYf6 .item-PXvHYJ[style*="color: rgb(240, 71, 71); background-color: rgba(240, 71, 71, 0.1);"] {
   background-color: rgba(186, 20, 11, 0.35) !important;
}
.side-8zPYf6 .item-PXvHYJ[style*="color: rgb(255, 255, 255); background-color: rgb(240, 71, 71);"] {
    color: white !important;
    background-color: #BA140B !important;
}

.theme-dark .header-2RyJ0Y {
  color: silver;
}

.theme-dark .side-8zPYf6 .themed-OHr7kt.selected-3s45Ha.item-PXvHYJ {
   background-color: var(--generalColor) !important;
   border: 2px ridge rgba(0, 0, 0, 0.4);
}

.side-8zPYf6 .item-PXvHYJ {
  border-radius: 9px;
}

.side-8zPYf6 .themed-OHr7kt.item-PXvHYJ:hover, .topPill-30KHOu .themed-OHr7kt.item-PXvHYJ:hover {
  background-color: rgba(250, 1, 194, 0.357);
}

.emptyStateCTA-veJ2Cu {
  opacity: 1;
}

.tabBar-1E2ExX .item-3HpYcP[style*="background-color: rgb(67, 181, 129); color: rgb(255, 255, 255);"] {
  background-color: transparent!important;
  color: #fff!important;
}


.tabBar-1E2ExX .item-3HpYcP[style*="background-color: rgba(67, 181, 129, 0.2); color: rgb(67, 181, 129);"] {
  background-color: #149300!important;
  color: white!important;
  border: 1px solid rgba(255, 255, 255, 0.45);
}

.themeDefault-24hCdX.valueChecked-m-4IJZ,
#bd-settingspane-container .ui-switch-item .ui-switch-wrapper .ui-switch.checked {
  background-color: var(--generalColor);
}
.themeDefault-24hCdX.sizeDefault-2YlOZr {
  box-shadow: none;
}
.sizeDefault-2YlOZr,
#bd-settingspane-container .ui-switch-item .ui-switch-wrapper .ui-switch {
  border-radius: 5px;
}
.themeDefault-24hCdX,
#bd-settingspane-container .ui-switch-item .ui-switch-wrapper .ui-switch {
  background-color: var(--generalColor);
}
.sizeDefault-2YlOZr:after,
#bd-settingspane-container .ui-switch-item .ui-switch-wrapper .ui-switch:before {
  border-radius: 5px;
}
.theme-dark .checkbox-1ix_J3 {
  border-color: rgba(255, 255, 255, 0.35);
}

.box-mmYMsp {
  border-radius: 7px;
}

.theme-dark .cardPrimaryOutline-29Ujqw {
  border-color: black;
}

.theme-dark .accountBtnInner-sj5jLs {
  background-color: rgba(0, 0, 0, 0.5);
  border-color: black;
}

.theme-dark .accountBtnInner-sj5jLs:hover {
  background-color: var(--generalColor);
}

.inner-2Y6JuD {
  border-radius: 14px;
}

.theme-dark .hoverablePayment-Yc6mK7:hover {
  background-color: rgba(0, 0, 0, 0.37);
}

.theme-dark .paymentHeader-3QlZQi {
  border-color: transparent;
}

.theme-dark .expandedInfo-3kfShd {
  background-color: rgba(0,0,0,.3);
}

.theme-dark .paymentPane-3bwJ6A,
.theme-dark .payment-xT17Mq  {
  background-color: transparent;
  color: white;
}
.theme-dark .bottomDivider-1K9Gao {
  border-bottom-color: transparent;
}

.theme-dark .paginator-166-09 {
  background: transparent;
}
.theme-dark .paginator-2CA79G {
  color: white;
}

.theme-dark .codeRedemptionRedirect-1wVR4b {
  background-color: transparent;
  border-color: transparent;
}

.pageActions-1SVAnA * {
  border: none;
}

.theme-dark .separator-gCa7yv {
  background: transparent;
}

.side-8zPYf6 .item-PXvHYJ[style*="color: rgb(114, 137, 218);"] {
  color: rgb(250, 250, 250) !important;
}
.side-8zPYf6 .item-PXvHYJ[style*="color: rgb(114, 137, 218); background-color: rgba(114, 137, 218, 0.1);"] {
  background-color: rgba(24, 36, 206, 0.24) !important;
}
.side-8zPYf6 .item-PXvHYJ[style*="color: rgb(255, 255, 255); background-color: rgb(114, 137, 218);"] {
  background-color: #1825CE !important;
  color: white !important;
  border: 1px, solid, gold;
}

.css-15ejc46-control,
.css-2yldzf-control,
.css-1yegjoj-control {
  background-color: rgba(0, 0, 0, 0.3);
  border: none;
}
.css-1yegjoj-control:hover,
.css-2yldzf-control:hover {
  background-color: rgba(0, 0, 0, 0.6);
}

.css-181m2lf-menu {
  background-color: rgb(0, 0, 0, 0.8);
  box-shadow: none;
  color: white;
  border-radius: 0px 0px 7px 7px;
}

.css-12o7ek3-option {
  background-color: var(--generalColor);
  color: white;
}

.css-1gnr91b-option {
  background-color: var(--generalColor);
  color: white;
}

.theme-dark .userSettingsVoice-iwdUCU .previewOverlay-2O7_KC {
  background-color: transparent;
  border-color: transparent;
}

.userSettingsVoice-iwdUCU .media-engine-video {
  background-color: rgba(0,0,0,0.4);
  border-radius: 12px;
}

.barFill-23-gu- {
  background-color: #FF0FC3;
}
.theme-dark .bar-2Qqk5Z {
  background: transparent;
}
.theme-dark .bar-2Qqk5Z[style*="background: rgb(105, 196, 154);"] {
  background: transparent !important;
}
.bar-2Qqk5Z {
  background: transparent;
}
.bar-2Qqk5Z {
  position: relative;
  top: 16px;
  height: 22px;
  border-radius: 9px;
}
.grabber-3mFHz2 {
  width: 15px;
  height: 29px;
  margin-left: -8px;
  border-radius: 12px;
  background-color: black;
  border: 3px solid rgba(199, 199, 199, 0.219);
  box-shadow: none;
}

.theme-dark .bubble-3we2di {
  background-color: black;
}
.theme-dark .elevationHigh-3A9Xbf {
  box-shadow: none;
}
.bubble-3we2di:before {
  border: none;
}

.theme-dark .cardPrimaryEditable-3KtE4g[style*="border-color: rgb(114, 137, 218); background-color: rgb(114, 137, 218);"] {
  background: var(--generalColor) !important;
  border-color: black !important;
}

.theme-dark .checked-3_4uQ9[style*="border-color: rgb(114, 137, 218);"] {
  border-color: black !important;
  background-color: rgba(0,0,0,0.6) !important;
}

.theme-dark .checked-3_4uQ9[style*="border-color: rgb(114, 137, 218);"] polyline {
  stroke: var(--generalColor);
}

.theme-dark .notificationsSound-27jFSh,
.theme-dark .row-2okwlC,
.theme-dark .item-3eFBNF,
.theme-dark .game-1ipmAa {
  box-shadow: none;
}

.ghostPill-2-KUPM {
  color: #BC8300;
  background-color: rgba(188, 131, 0,.4);
  padding: 12px 26px;
  border-radius: 16px;
  font-size: 17px;
}

.theme-dark .addButton-pcyyf6 {
color: rgb(255, 255, 255);
background-color: rgb(247, 134, 219)
}

.theme-dark .card-FDVird:before {
  background-color: rgba(0,0,0,0.3);
  border-color: transparent;
}

.theme-dark .button-2CgfFz {
  background-color: rgba(0,0,0,0.4) !important;
  box-shadow: none !important;
}

.theme-dark .notDetected-33MY4s {
  background-color: rgba(0,0,0,0.4);
}
.notDetected-33MY4s, 
.nowPlaying-284llR {
  border-radius: 13px;
}

.theme-dark .addGamePopout-2RY8Ju {
  background-color: rgba(0,0,0,0.8);
}
.theme-dark .elevationBorderHigh-2WYJ09 {
  box-shadow: none;
}

.theme-dark .nowPlaying-284llR {
  background-color: var(--generalColor);
}

.theme-dark .gameNameInput-385LoS:focus,
.theme-dark .gameNameInput-385LoS:hover {
  border-color: var(--generalColor);
  background-color: rgba(0,0,0,0.7);
}

.theme-dark .nowPlaying-284llR .gameNameInput-385LoS:focus, 
.theme-dark .nowPlaying-284llR .gameNameInput-385LoS:hover {
    background-color: transparent;
    border: 2px solid black;
}

.theme-dark .emptyUsers--hiToV {
  background-color: transparent;
  border-color: transparent;
}

.theme-dark .searchBox-3Y2Vi7 {
  background-color: transparent;
  box-shadow: none;
}

.theme-dark .markValue-2DwdXI {
  color: white;
}
.theme-dark .markDash-3hAolZ {
  background: white;
}

.containerCozyBounded-1rKFAn {
  overflow: visible;
}
.theme-dark .dividerEnabled-2TTlcf {
  border-bottom-color: transparent;
}
.theme-dark .footer-3rDWdC {
  background-color: transparent;
  background-image: none !important;
  box-shadow: none;
}
.theme-dark .modal-yWgWj- {
  background: black;
  box-shadow: none;
}

.backdrop-1wrmKB,
.backdropWithLayer-3_uhz4 {
  background-color: rgba(0,0,0,0.2) !important;
  opacity: 0.3 !important;
}

.theme-dark .root-1gCeng {
    background-color: rgba(0, 0, 0, 0.55);
    box-shadow: none;
}

.theme-dark #bd-settings-sidebar .ui-tab-bar-item.selected {
  background-color: var(--generalColor);
  border-radius: 8px;
}
#bd-settings-sidebar .ui-tab-bar-item {
  border-radius: 8px;
}
.theme-dark #bd-settings-sidebar .ui-tab-bar-separator {
  background-color: transparent;
}

.theme-dark #bd-settingspane-container .ui-switch-item .style-description {
  color: silver;
  border: none;
}

.bd-pfbtn {
  background: var(--generalColor);
}
.theme-dark .bda-slist li {
  background-color: rgba(0,0,0,.6);
  color: white;
  border-color: var(--generalColor);
}

.theme-dark .bda-slist .bda-footer,
.theme-dark .bda-slist .bda-header {
  border: none;
}

.bda-slist .bda-footer button {
  background:  var(--generalColor);
}

.ace-monokai .ace_gutter {
  background: transparent;
  color: white;
}

.ace-monokai {
  background-color: rgba(0,0,0,0.5);
  color: white;
}

.ace-monokai .ace_gutter-active-line,
.ace-monokai .ace_marker-layer .ace_active-line {
  background-color: var(--generalColor);
}

.contentRegion-3nDuYy #bd-customcss-attach-controls, 
#bd-customcss-detach-container #bd-customcss-attach-controls {
  background: rgba(0,0,0,0.5);
  box-shadow: none;
}

.checkbox-3kaeSU .checkboxInner-3yjcPe .checkboxElement-1qV33p:checked+span {
  background-color: var(--generalColor);
  border-color: var(--generalColor);
}
.standardSidebarView-3F1I7i #bd-customcss-attach-controls button, 
.bd-detached-css-editor #bd-customcss-attach-controls button {
  background: transparent !important;
  border: 2px solid var(--generalColor);
  border-left: none !important;
  border-right: none !important;
  border-radius: 14px;
  margin-right: 12px;
}
.standardSidebarView-3F1I7i #bd-customcss-attach-controls button:hover , 
.bd-detached-css-editor #bd-customcss-attach-controls button:hover {
  border: 2px solid var(--generalColor);
}

#bd-customcss-attach-controls .help-text .inline {
  background: rgba(255,255,255,.2);
}

.tooltipPointer-3ZfirK {
  border: none;
}

.theme-dark .tooltipRed-8-9NeP  {
  color: white;
  background-color: #cc1f1f;
}
.theme-dark .tooltip-2QfLtc {
  box-shadow: none;
  color: white;
}
.tooltip-2QfLtc {
  border-radius: 9px;
}
.guildsError-b7zR5H:hover {
  background-color: #cc1f1f;
}
.guildsError-b7zR5H {
  background: rgba(0,0,0,0.4);
  border-color: #cc1f1f;
}

.dividerContent-2L12VI:after, 
.dividerContent-2L12VI:before {
  border: none !important;
}
.theme-dark .divider-3gKybi:not(.dividerRed-MKoLlr) .dividerContent-2L12VI {
  color: silver;
  background-color: rgba(255,255,255,.12);
  position: relative;
  bottom: -16px;
}
.theme-dark .divider-3gKybi.dividerRed-MKoLlr .dividerContent-2L12VI {
  color: white;
  background-color: var(--generalColor);
  position: relative;
  bottom: -16px;
}
.dividerContent-2L12VI {
  padding: 0.5%;
}
.guildSeparator-3s64Iy {
  background: transparent;
}
.theme-dark .childWrapper-anI2G9 {
  background-color: transparent;
}
.wrapper-1BJsBx.selected-bZ3Lue .childWrapper-anI2G9, .wrapper-1BJsBx:hover .childWrapper-anI2G9 {
  background-color: rgba(185, 185, 185, 0.233);
}
.item-2hkk8m {
  border: 2px solid rgba(255,255,255,.3);
  background-color: var(--generalColor);
}
.theme-dark .pageWrapper-1PgVDX {
  background-color: transparent;
}
.theme-dark .sectionSeparator-2OWiNT {
  border-top: none;
}

.wanderingCubesItem-WPXqao {
  background-color: var(--generalColor);
  width: 20px;
  border-radius: 30px;
  height: 20px;
}
.mediaBarGrabber-1FqnbN, 
.mediaBarProgress-1xaPtl, 
.mediaBarProgress-1xaPtl:after, 
.mediaBarProgress-1xaPtl:before,
.mediaBarInteraction-37i2O4:hover .mediaBarGrabber-1FqnbN {
  background-color: var(--generalColor);
}
.progress-3Rbvu0[style*="background-color: rgb(233, 231, 231);"] {
  background-color: transparent !important;
}
.small-1CUeBa[style*="background-color: rgb(114, 137, 218);"] {
  background-color:  var(--generalColor) !important; 
}

.theme-dark .attachment-33OFj0 {
  border-color: transparent;
  background-color: rgba(0,0,0,0.3);
}

.theme-dark .tooltipBlack-PPG47z {
  background-color: var(--generalColor);
}

.circleIconButton-jET_ig {
  background-color: black;
  color: var(--generalColor);
}
.circleIconButton-jET_ig.selected-ugP_am {
  color: #fff;
  background-color: var(--generalColor);
}

 .clickable-11uBi-:hover, 
.selected-BYpGTS {
  background: var(--generalColor);
}

.theme-dark .item-1Yvehc:hover {
  background: var(--generalColor);
  color: #fff !important;
}
.item-1Yvehc.brand-3igrJY:hover,
.theme-dark .item-1GzJrl:hover.invite-271nFU {
  color: white;
  background-color: #435ad0;
}
.theme-dark .item-1Yvehc
{
  color: rgba(255,255,255,.6);
}
.item-1Yvehc.brand-3igrJY,
.theme-dark .item-1GzJrl.invite-271nFU{
  color: #435ad0;
}
.item-1Yvehc {
  padding: 7px;
  border-radius: 7px;
}

.contextMenu-HLZMGh {
  background: black;
  box-shadow: none;
  border-radius: 6px;
  border: 2px solid rgba(255,255,255,.3);
}

.item-1Yvehc.danger-2dXSTE, 
.theme-dark .item-1GzJrl.leave-1DRJfn {
  color: #d52b27;
}

.item-1Yvehc.danger-2dXSTE:hover,
.theme-dark .item-1GzJrl:hover.leave-1DRJfn{
  background-color: #d52b27;
  color: white;
}

.theme-dark .itemGroup-1tL0uz {
  border-color: transparent;
}

.theme-dark .tooltip-2QfLtc {
  background-color: rgba(68, 68, 68, 0.8);
}

.theme-dark .container-3baos1 {
  background: none;
}
.container-1giJp5 {
  background: none;
  border-bottom: none;
}

.theme-dark .operations-36ENbA {
  color: white;
}
.theme-dark .edited-DL9ECl {
  color: silver;
}
.unread-3zKkbm {
  display: none;
}
.theme-dark .wrapper-1ucjTd.modeUnread-1zpFdA .icon-1_QxNX {
     color: white;
}
.content-3at_AU {
  border-radius: 9px;
}
.theme-dark .wrapper-1ucjTd:hover .content-3at_AU,
.theme-dark .listDefault-2y5Z9D .clickable-23RaYz:hover .content-3xS9Lh {
  background-color: rgba(0,0,0,.2);
}
.theme-dark .wrapper-1ucjTd.modeSelected-1zApJ_ .content-3at_AU, .theme-dark .wrapper-1ucjTd.modeSelected-1zApJ_:hover .content-3at_AU,
.theme-dark .listDefault-2y5Z9D .clickable-23RaYz.selected-3TGCSZ .content-3xS9Lh {
  background: linear-gradient(270deg, transparent 30%, rgba(250, 1, 194,1) 100%);
}
.theme-dark .wrapper-1ucjTd.modeSelected-1zApJ_ .icon-1_QxNX {
  color: white;
}
.content-3xS9Lh {
  border-radius: 9px;
}
.users-i_3-kL {
  background-color: rgba(0,0,0,0.4);
  color: white;
}
.total-3tKGEB:after {
  border: none;
}
.total-3tKGEB {
  background-color: var(--generalColor);
  color: white;
  width: 25px;
}

.theme-dark .primary-jw0I4K,
.title-1B76a1{
  color: white;
}
.lighten-2aYaaU {
  opacity: .8;
}
.css-mhi7q3-placeholder {
  color: white;
  opacity: 1;
}
.unread-1xRYoj {
  display: none;
}
.popout-2iWAc- {
  box-shadow: none;
  border-radius: 4px;
}
.theme-dark .menu-Sp6bN1 {
  background: rgba(0,0,0,0.8);
  box-shadow: none;
}
.theme-dark .separator-2zcjq8 {
  border: none;
}
.theme-dark .item-1GzJrl {
  color: white;
}

.bf-toolbar:hover::before {
  /* Improved markdown toolbar */
  border: 1px solid var(--generalColor);
  border-radius: 11px;
  background: rgba(0, 0, 0, 0.486);
}

.toolbar-2bjZV7 {
  /* Removal of original markdown toolbar */
  display: none;
}

.theme-dark .item-1GzJrl:hover {
  background-color: transparent;
  border: 1px solid var(--generalColor);
  border-radius: 11px;
}
.theme-dark .container-2XeR5Z {
  background-color: transparent;
}
::-webkit-input-placeholder {
     color: white !important;
}

.theme-dark .inviteRow-2L02ae:hover {
  background-color: rgba(0,0,0,0.4);
  border-radius: 12px;
}
.theme-dark .separator-3gy7tq {
  box-shadow: none;
}
.theme-dark .headerNormal-T_seeN,
.theme-dark .topSectionNormal-2-vo2m {
  background-color: transparent;
}
.headerPlaying-j0WQBV,
.topSectionPlaying-1J5E4n {
  background-color: transparent;
}
.lookInverted-2D7oAl.colorBrand-3pXr91:hover {
  background-color: rgb(255, 124, 227);
}
.lookInverted-2D7oAl.colorBrand-3pXr91 {
  color: white !important;
  background-color: transparent;
}
.headerXbox-3G-4PF,
.topSectionXbox-3fWLjS {
  background-color: rgba(0,0,0,0.4);
  border: 2px solid #20b321;
}
.lookInverted-2D7oAl.colorGreen-29iAKY {
  color: white !important;
  background-color: transparent;
}
.lookInverted-2D7oAl.colorGreen-29iAKY:hover {
  background-color: #20b321;
}
.headerStreaming-2FjmGz,
.topSectionStreaming-1Tpf5X {
  background-color: rgba(0,0,0,0.4);
  border: 2px solid #6e21ba;
}
.buttonInvertedPurple-WtBglX {
  background-color: transparent;
  color: white !important;
}
.buttonInvertedPurple-WtBglX:hover {
  background-color: #6e21ba;
}
.headerSpotify-zpWxgT,
.topSectionSpotify-1lI0-P {
  background-color: rgba(0,0,0,0.4);
  border: 2px solid #59d54c;
}
.tabBarContainer-1s1u-z {
  border-top: none;
  padding-left: 14px;
}
.theme-dark .userInfoSection-2acyCx+.userInfoSection-2acyCx {
  border-color: transparent;
}
.theme-dark .connectedAccount-36nQx7 {
  border-color: transparent;
  background: linear-gradient(270deg, transparent 53%, rgba(250, 1, 194,0.7) 100%);
}
.guildNick-3uAm3i, 
.listName-3w10cx,
.userInfoSectionHeader-CBvMDh {
  color: white;
}
.theme-dark .listRow-hutiT_:hover {
  background: linear-gradient(90deg,hsla(0,0%,100%,.12) 20%,hsla(0,0%,100%,0));
  color: white;
}
.centerButton-3CaNcJ {
  background-color: rgba(0,0,0,.3) !important;
  border-color: var(--generalColor);
  border-width: 2px;
  border-style: solid;
}
.background-ujHpbY {
  background-color: #18191C !important;
}
.root-SR8cQa {
  box-shadow: 0 7px 10px 0 rgba(0,0,0,.8);
  border-radius: 0;
}
.theme-dark .body-3iLsc4,
.theme-dark .bodyInner-245q0L,
.theme-dark .footer-1fjuF6,
.theme-dark .body-3ND3kc {
  background-color: transparent;
  color: transparent;
}
.theme-dark .footer-1fjuF6 {
  border: none;
}
.theme-dark .roleName-32vpEy {
  color: white;
}
.theme-dark .note-3kmerW textarea {
  color: white;
  background: transparent;
}
.note-3HfJZ5 textarea {
  border-radius: 5px;
  padding: 3px;
}
.note-3kmerW textarea {
  line-height: 12px;
  padding: 7px 10px;
  max-height: 29px;
}
.bodyTitle-Y0qMQz {
  color: white;
}
.theme-dark .note-3kmerW textarea:focus,
.theme-dark .root-SR8cQa .note-QfFU8y textarea:focus {
  background-color: rgba(255,255,255,.12);
}
.theme-dark .quickMessage-1yeL4E {
  background-color: transparent;
  border-color: var(--generalColor);
  color: var(--generalColor);
}
.quickMessage-2XpSaN {
  border-radius: 9px;
}
.mention-1f5kbO {
  background-color: rgba(0,0,0,.9);
}
.mention-1f5kbO:hover {
  background-color: var(--generalColor);
}
.numberBadge-2s8kKX {
  background-color: black !important;
   height: 26px;
  width: 26px !important;
  margin-bottom: -3px;
  margin-right: -5px;
  border: 2px solid var(--generalColor);
}
.role-2irmRk {
  border-width: 0 2px 2px 0;
  border-radius: 7px;
  height: 22px;
  margin: 0 7px 7px 0;
  padding: 9px;
}
.addButtonIcon-1NMJ8u {
  position: relative;
  top: -5px;
}
.protip-YaFfgO {
  display: none;
}

.theme-dark .channelTextArea-rNsIhG {
  background-color: transparent;
}
.theme-dark .scrollableContainer-2NUZem {
  background-color: rgba(0, 0, 0, 0.29);
  border-style: solid;
  border-width: 0.5px;
  border-color: rgba(255, 255, 255, 0.116);
  border-radius: 4px;
  z-index: -5;
}
.typeWindows-1za-n7 {
  background:linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.80)), url("https://i.imgur.com/kegHY2Z.png");
  background-size: cover;
  background-color: transparent;
}
.theme-dark .bar-30k2ka {
  border-style: solid;
  border-width: 1px;
  border-color: var(--generalColor);
}
.theme-dark .bar-30k2ka:active {
  background-color: var(--generalColor);
}
.theme-dark .divider-3FBTu8,
.theme-dark .children-19S4PO:after {
  background: none;
}
.theme-dark .embedFull-2tM8-- {
  background-color: rgba(0,0,0,0.4);
  border-color: rgba(255,255,255,0.53);
}
.theme-dark .icon-22AiRD,
.theme-dark .emptyPlaceholder-1zh-Eu .body-bvcIjN,
.theme-dark .topic-TCb_qw,
.theme-dark .timestampCozy-2hLAPV,
.theme-dark .timestamp-1E3uAL {
  color: white;
}
.theme-dark .footer-1kmXd4 {
  background-color: transparent;
}
.theme-dark .header-ykumBX {
  background-color: transparent;
  box-shadow: none;
}
.theme-dark .messagesPopoutWrap-1MQ1bW {
  background: rgba(0,0,0,0.6);
  border: 2px solid var(--generalColor);
  box-shadow: 0 7px 10px 0 rgba(0,0,0,.8);
}
.theme-dark .nickname-O95uts {
  color: white;
}

.theme-dark .messagesPopout-24nkyi {
   background-color: transparent;
}

.themedPopout-1TrfdI .header-2Kf7Yu+:after {
  box-shadow: none;
}

.botTagInvert-18-95s,
.botTagRegular-2HEhHi {
  background-color: var(--generalColor);
  color:  white !important;
  border: 2px solid rgba(0,0,0,0.4);
}
.theme-dark .channelTextArea-rNsIhG,
.form-2fGMdU {
  border-top: none;
}

.form-2fGMdU {
  border-top: none;
}

/* Change Avatar Size(also moves username for you) */
.containerCozyBounded-1rKFAn .avatar-17mtNa .wrapper-3t9DeA {
    width: 50px !important;
    height: 50px !important;
    background-size: cover;
}
/* DON'T TOUCH */
.containerCozyBounded-1rKFAn {
     overflow: visible;
}


/* DON'T TOUCH */
.theme-dark .dividerEnabled-2TTlcf {
  border: none;
  margin-bottom: 2px;
}
/* DON'T TOUCH */
.dividerContent-2L12VI:after, 
.dividerContent-2L12VI:before {
  border: none !important;
}
/* DON'T TOUCH  */
.mask-1l8v16 {
    contain: none;
}
/* DON'T TOUCH */
.avatar-17mtNa .wrapper-3t9DeA foreignObject[mask] {
    mask: none;
}
/* Changes Border-radius Avatar */
.avatar-VxgULZ {
    border-radius: 40px;
}
.containerCozy-B4noqO>* {
  position: relative;
  top: 12px;
  right: -7px;
}
.embedContent-3fnYWm .markup-2BOw-j {
  position: relative;
  top: 2px;
  right: -1px;
}
.theme-dark .wrapper-2aW0bm {
  background-color: rgba(0, 0, 0, 0.404);
  border-color: var(--generalColor);
  border-width: 1px;
  border-style: solid;
}
.theme-dark .group-2dAfBy {
  border-color: var(--generalColor);
  border-width: 1px;
  border-style: solid;
}
.theme-dark .selectorButtonSelected-1j4DmC {
  background-color: var(--generalColor);
}
.theme-dark .size-3aiBwQ {
  background-color: rgba(0, 0, 0, 0.404);
  border-color: var(--generalColor);
  border-width: 1px;
  border-style: solid;
}
.theme-dark .imageSelected-4Kl81J {
  border-width: 3px;
  border-color: var(--generalColor);
}
.theme-dark .button-1ZiXG9 {
  background-color: rgba(0, 0, 0, 0.404);
}
.theme-dark .button-1ZiXG9:hover {
  background-color: rgba(0, 0, 0, 0.7);
}
.isMentioned-N-h9aa .mention {
  top: -2px;
  position: relative;
}
.placeholder-P6ptfj, 
.slateTextArea-1bp44y .hljs-comment, 
.slateTextArea-1bp44y .hljs-quote {
    color: white;
}
.markup-2BOw-j {
  position: relative;
  color: white;
  top: 2px;
  right: -7px;
  text-shadow: 0 0 23px black,0 0 23px black,0 0 23px black,0 0 23px black;
}
.isMentioned-N-h9aa .markup-2BOw-j {
  position: relative;
  top: 2px;
}

.isMentioned-N-h9aa {
  position: relative;
  top: 12px;
}

.theme-dark .headerCozyMeta-rdohGq {
  color: white;
}
.username-_4ZSMR {
  font-size: 1.2rem;
}
.username-_4ZSMR:hover {
  text-shadow: 0 4px 12px black,0 4px 12px black,0 4px 12px black;
}
.container-3-pyIM {
  position: relative;
  top: 2px;
}



.localBotMessage-1cGMdw {
  margin-top: 14px;
}

.imageWrapperBackground-E_M6Nu {
  background: rgba(0,0,0,.45);
}

.theme-dark .reactionCount-2ddRoS {
  color: white !important;
}

.theme-dark .headerTagNoNickname-ENx6no {
  color: rgb(255, 116, 248);
}

.theme-dark .reaction-1ELvT8 {
  background: rgba(0,0,0,.4);
  border-radius: 6px;
}
.theme-dark .reaction-1ELvT8.reactionMe-23mbRf {
  background: black;
  border: 2px solid var(--generalColor);
}

.theme-dark .jumpToPresentBar-9P20AM,
.newMessagesBar-mujexs button {
  background-color: rgba(0,0,0,.9) !important;
}

.theme-dark .mention .wrapper-3WhCwL {
  color: white;
  background-color: rgba(0, 0, 0, 0.39);
  border-radius: 6px;
  padding: 2px;
  font-variant: small-caps;
}
.theme-dark .wrapper-3WhCwL:hover {
  border: 1px solid var(--generalColor);
}
.hasMore-3e72_v,
.theme-dark .hasMoreButton-1MELpI  {
  background: rgba(0,0,0,.5);
  border: 1px solid black;
  color: white;
}
.theme-dark .contentTitle-2tG_sM,
.theme-dark .description-11DmNu, 
.theme-dark .descriptionUsername-J_75O8,
.marginLeft4-3VaXdt {
  color: white;
}
.marginLeft8-1YseBe,
.theme-dark .contentTitle-2tG_sM strong  {
  color: silver;
}
.theme-dark .iconForeground-1w5n7R {
  fill: silver;
}
.theme-dark .selectorSelected-1_M1WV {
  background-color: transparent;
  border: 1px solid var(--generalColor);
}
.selector-2IcQBU {
  border-radius: 3px;
  padding: 8px;
}
.selector-2IcQBU:hover {
  border: 1px solid var(--generalColor);
}
.theme-dark .divider-23swzi {
  background-color: transparent;
}
.theme-dark .descriptionDiscriminator-3vUOCc {
  color: silver;
}
.theme-dark .autocomplete-1vrmpx {
  background: rgba(0, 0, 0, 0.719);
  border: 1px solid var(--generalColor);
  margin-right: 10px;
}
.autocomplete-i9yVHs {
  overflow: visible;
}
.autocomplete-1vrmpx {
  border-radius: 10px 10px 0 0;
  overflow: visible;
}
.attachWrapper-2TRKBi {
	border: none;
}
.theme-dark .inner-zqa7da {
  background-color: transparent;
}

.scrollableContainer-2NUZem {
  background-color: rgba(54, 57, 63,0.7);
  margin-top: 9px;
}


.theme-dark .textArea-2Spzkt {
  color: white;
}
.innerNoAutocomplete-1WpcVO {
  border-radius: 12px;
}

.theme-dark .uploadModal-2ifh8j .footer-3mqk7D {
  background-color: transparent;
}
.theme-dark .footer-3mqk7D {
  box-shadow: none;
}

.theme-dark .uploadModal-2ifh8j {
  background-color: rgba(0, 0, 0, 0.5);
  border: 1px solid var(--generalColor);
}
.theme-dark .uploadModal-2ifh8j .inner-3nWsbo {
  border: none;
}
.theme-dark .uploadModal-2ifh8j .inner-3nWsbo .file-34mY5K .icon-kyxXVr.image-2yrs5j {
  background-color: transparent;
  border: 2px solid var(--generalColor);
  border-radius: 14px;
  box-shadow: none;
}
.theme-dark .searchBar-3dMhjb {
  border: 1px solid rgba(99, 99, 99, 0.4);
}

.iconBadge-qZ4Ksk {
  background-color: var(--generalColor);
}

.theme-dark .membersGroup-v9BXpm,
.theme-dark .activity-1IYsbk, 
.theme-dark .activityText-sLG0UL {
  color: white;
}
.theme-dark .activityIconForeground-qYIPPg {
  fill: silver;
}
.emojiPicker-3m1S-j .header-1nkwgG {
  border: none;
  box-shadow: none;
}

.infoBar-U6oBFk {
  background: none;
}

.emojiPicker-3m1S-j {
  background-color: rgba(0,0,0,0.8);
  border: none;
}
.emojiPicker-3m1S-j .header-1nkwgG .searchBar-2pWH0_ {
  background-color: transparent;
}
.emojiPicker-3m1S-j .categories-1feg4n .item-16cXuq.selected-39BZ4S {
  border-bottom-color: var(--generalColor);
}
.emojiPicker-3m1S-j .category-2U57w6 {
  background-color: rgba(105, 105, 105, 0.151);
  text-align: center;
  color: white;
}
.emojiPicker-3m1S-j .scroller-3vODG7 .emojiItem-109bjA.selected-39BZ4S {
  background-color: rgba(255,255,255,.12);
}
.emojiPicker-3m1S-j .diversitySelector-tmmMv0 .popout-2nUePc {
  background: black;
  border-color: transparent;
}
.diversitySelector-tmmMv0 .popout-2nUePc .item-16cXuq:hover {
  background-color:var(--generalColor);
}
.isMentionedCozy-3isp7y:after {
  background: none;
  border-left: none;
}
.mentioned-xhSam7:before {
  margin-left: 7px;
}

.theme-dark .isMentioned-N-h9aa {
  background: rgba(250, 1, 194, 0.3);
  border: 2px solid rgba(250, 1, 194, 0.5);
}

.theme-dark .inner-1ilYF7 {
  background-size: cover;
  color:transparent;
  background-color: transparent;
  border-radius: 2%;
}
.theme-dark .root-SR8cQa {
  background: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), url(https://i.imgur.com/RyL5dyw.jpg);
  background-size: cover;
  border-radius: 2%;

  border-style: solid;
  border-width: 2px;
  border-color: #FF0FC3;
}
.directionRow-3v3tfG {
  background-image: none !important;
}

.theme-dark .isMentioned-N-h9aa .mention {
  background: rgba(0,0,0,0.4) !important;
  color: white !important;
}
.theme-dark .isMentioned-N-h9aa .mention:hover {
  background: rgba(0,0,0,0.7) !important;
}
.theme-dark .closeButton-1tv5uR {
  border-width: 2px;
  border-color: var(--generalColor);
  border-style: solid;
  border-radius: 20px;
}
#bda-qem-favourite-container .scroller::-webkit-scrollbar, #bda-qem-favourite-container .scroller::-webkit-scrollbar-track, #bda-qem-favourite-container .scroller::-webkit-scrollbar-track-piece, #bda-qem-twitch-container .scroller::-webkit-scrollbar, #bda-qem-twitch-container .scroller::-webkit-scrollbar-track, #bda-qem-twitch-container .scroller::-webkit-scrollbar-track-piece, .emojiPicker-3m1S-j .scroller-3vODG7::-webkit-scrollbar, .emojiPicker-3m1S-j .scroller-3vODG7::-webkit-scrollbar-track, .emojiPicker-3m1S-j .scroller-3vODG7::-webkit-scrollbar-track-piece,
.theme-dark .scrollerThemed-2oenus.themedWithTrack-q8E3vB .scroller-2FKFPG::-webkit-scrollbar-track-piece {
  background-color: transparent!important;
  border-color: transparent!important;
}
.scroller-2FKFPG {
  margin-bottom: -20px;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: var(--generalColor);
  background-color: transparent !important;
}

.scroller-2wx7Hm {
  margin-bottom: 0.01px;
}
.exitButton-1DkWLl {
  background-color: red !important;
}
.exitButton-1DkWLl:hover {
  background-color: rgba(255, 0, 0, 0.7) !important;
}

/* --- */

/* NEXT SECTION */

.bda-dark .theme-dark .slide-2pHaq5 {
  background:rgba(0,0,0,0.4);
}
.theme-dark .wrapper-2ZbzR9 {
  background: transparent;
}
.bda-dark .theme-dark .action-1lSjCi {
   background-color: rgba(0,0,0,0.4);
   border: 2px solid rgba(255,255,255,.13);
}
.bda-dark .theme-dark .create-3jownz {
  background-color: #2a66d4;
   border: 2px solid rgba(255,255,255,.13);
}
.theme-dark .title-2Dc-Cb {
  color: #2a66d4;
}
.avatarUploaderInner-3UNxY3 {
  background-color: #2a66d4;
}
.regionSelect-3lf4eE .regionSelectInner-24f4Ce,
.regionSelect-3lf4eE button {
    border: none;
}
.regionSelect-3lf4eE button {
   color: #2a66d4;
}
.theme-dark .regionSelect-3lf4eE:hover button {
   background-color: #2a66d4;
   color: white;
}
.action-1lSjCi {
  border-radius: 10px;
}
.theme-dark .header-3ZP1MY,
.theme-dark .create-3jownz .actionHeader-2CT5c7,
.theme-dark .join-33Tr-7 .actionHeader-2CT5c7,
.theme-dark .actionBody-1qj65C,
.theme-dark .description-Bw8krY {
  color: white;
}
.theme-dark .actionButton-2PeQbJ {
  background-color: #2559BA;
}
.theme-dark .create-3jownz:hover .actionButton-2PeQbJ {
  background-color: #4579D9;
}
.actionButton-2PeQbJ {
  border-radius: 9px;
}
.bda-dark .theme-dark .or-3THJsp {
  background: rgba(0,0,0,0.16);
  border: none;
}

.theme-dark .title-2CFvp_,
.theme-dark .sampleLink-KPFu3I {
    color: #009933;
}
.theme-dark .join-33Tr-7:hover .actionButton-2PeQbJ {
  background-color: #20A64D;
}
.theme-dark .join-33Tr-7 .actionButton-2PeQbJ {
  background-color: #00862D;
}
.bda-dark .theme-dark .join-33Tr-7 {
  background-color: #009933;
}

.uploadArea-3QgLtW {
  background: rgba(0,0,0,.4);
}
.uploadArea-3QgLtW .uploadDropModal-2kTwbc .bgScale-1otPtc {
   background: rgba(0,0,0,.6);
}
.uploadArea-3QgLtW .uploadDropModal-2kTwbc .inner-3nWsbo {
   background: rgba(0,0,0,.9);
   border: none;
}
.theme-dark .messageGroupWrapper-o-Zw7G {
  border-color: black !important;
  background-color: rgba(0,0,0,0.4) !important;
}
.theme-dark .messageGroupWrapper-o-Zw7G:hover .actionButtons-1sUUug {
  box-shadow: none;
  background: none;
}
.theme-dark .jumpButton-3DTcS_,
.theme-dark .jumpButton-Ia2hRJ,
.theme-dark .collapseButton-oSNpPX {
  background-color: var(--generalColor); 
  color: white;
}
.messageGroupWrapper-o-Zw7G {
  border-radius: 7px;
  padding: 22px 12px;
}
.theme-dark .searchResultsWrap-2DKFzt {
  background-color: rgba(0,0,0,0.5);
}
.theme-dark .markup-2BOw-j pre {
  background: transparent;
  border-color: transparent;
}
.markup-2BOw-j pre {
  border-width: 2px;
  border-style: dashed;
}
.theme-dark .markup-2BOw-j code, 
.theme-dark .markup-2BOw-j code.inline {
  background: rgba(255,255,255,.19);
  border-radius: 4px;
  box-shadow: inset 3px 0 23px 2px rgba(255,255,255,.09);
}
.theme-dark .hljs {
  color: white;
  text-shadow: 0 2px 6px black,0 2px 26px black,0 2px 26px black;
}
.markup-2BOw-j code {
  line-height: 1.5rem;
}

.theme-dark .searchBar-3dMhjb {
  background-color: transparent;
  color: white;
}
.theme-dark .public-DraftEditorPlaceholder-root {
  color: white;
}

.theme-dark .container-3ayLPN {
  background: rgba(0, 0, 0, 0.5);
  border-color: var(--generalColor);
  border-style: solid;
  border-width: 1px;
}

.theme-dark .option-96V44q:after,
.theme-dark .option-96V44q.selected-rZcOL-:after {
  background: none;
}
.theme-dark .option-96V44q.selected-rZcOL- {
  background-color: var(--generalColor);
  border: 2px solid black;
}
.theme-dark .searchOption-zQ-1l6 .answer-1n6g43,
.theme-dark .option-96V44q .filter-3Y_im-,
.theme-dark .searchResultChannelCategory-1l0lSn, .theme-dark .searchResultChannelIcon-1DnTme,
.theme-dark .option-96V44q.user-O3Czj0 .displayUsername-Qekxml {
  color: silver;
}

.theme-dark .searchAnswer-3Dz2-q, 
.theme-dark .searchFilter-2ESiM3 {
  background-color: rgba(0,0,0,0.4);
  border: 1px solid black;
}

.theme-dark .calendarPicker-2yf6Ci .react-datepicker {
  background-color: transparent;
}
.theme-dark .calendarPicker-2yf6Ci .react-datepicker__day.react-datepicker__day--disabled, .theme-dark .calendarPicker-2yf6Ci .react-datepicker__day.react-datepicker__day--disabled:hover,
.theme-dark .calendarPicker-2yf6Ci .react-datepicker__day--outside-month {
  background-color: rgba(0,0,0,0.5);
}
.theme-dark .calendarPicker-2yf6Ci .react-datepicker__week:last-of-type .react-datepicker__day {
  border-bottom-color: transparent;
}
.theme-dark .calendarPicker-2yf6Ci .react-datepicker__week .react-datepicker__day:last-of-type {
  border-right-color: transparent;
}
.theme-dark .calendarPicker-2yf6Ci .react-datepicker__header {
  background-color: transparent;
  border-color: transparent;
}

.calendarPicker-2yf6Ci .react-datepicker__navigation.react-datepicker__navigation--next, .calendarPicker-2yf6Ci .react-datepicker__navigation.react-datepicker__navigation--previous {
  border: none;
}
.theme-dark .calendarPicker-2yf6Ci .react-datepicker__current-month {
  border-bottom: none;
  color: white;
}
.theme-dark .calendarPicker-2yf6Ci .react-datepicker__day-name {
  color: white;
}
.theme-dark .datePicker--XZbmJ .datePickerHint-3Q1Udw {
  border-top:  none;
}
.theme-dark .datePicker--XZbmJ .datePickerHint-3Q1Udw .hintValue-29ny8Z {
  background-color: var(--generalColor);
}
.theme-dark .datePicker--XZbmJ .datePickerHint-3Q1Udw .hintValue-29ny8Z:hover {
  background-color: var(--generalColor);
}
.theme-dark .calendarPicker-2yf6Ci .react-datepicker__day.react-datepicker__day--selected:after {
  background-color: transparent;
}
.theme-dark .calendarPicker-2yf6Ci .react-datepicker__day.react-datepicker__day--selected:hover {
  background-color: #498138;
}
.theme-dark .calendarPicker-2yf6Ci .react-datepicker__day:hover {
  background-color: #245023;
}
.theme-dark .calendarPicker-2yf6Ci .react-datepicker__day {
  border: none;
  color: white;
}

.theme-dark .searchHeader-1l-wpR {
  background-color: transparent;
  box-shadow: none;
}

.tab-2Ixsn0, .totalResults-gxvzgw {
  padding: 15px 0;
  opacity: .6;
}

.theme-dark .searchResult-3pzFAB.expanded-v2Szsz {
  border: none;
}
.searchResult-3pzFAB.expanded-v2Szsz {
  border-radius: 12px;
}
.searchResult-3pzFAB {
  overflow: visible;
}
.theme-dark .searchResult-3pzFAB .searchResultMessage-2VxO12.hit-NLlWXA {
  border: 2px solid black;
}
.theme-dark .searchResult-3pzFAB .hit-NLlWXA {
  background-color: rgba(0,0,0,0.12);
  box-shadow: none;
}
.theme-dark .channelSeparator-1X1FuH:before {
  border-color: transparent;
}
.theme-dark .channelSeparator-1X1FuH .channelName-1QajIf {
  background-color: var(--generalColor);
  padding: 7px 4px;
}
.theme-dark .searchResult-3pzFAB.expanded-v2Szsz .searchResultMessage-2VxO12.hit-NLlWXA {
  border-top: 2px solid black;
  border-bottom: 2px solid black;
  background-color: rgba(0,0,0,0.7);
}
.theme-dark .searchResult-3pzFAB:after,
.theme-dark .searchResult-3pzFAB:before {
  background-image: none;
}
.container-2Pjhx- {
  color: white;
}
.layout-2DM8Md {
  border-radius: 9px;
}
.clickable-1JJAn8:hover .layout-2DM8Md {
  background-color: rgba(0,0,0,.3);
}
.selected-aXhQR6 .layout-2DM8Md {
  background-color: rgba(0,0,0,.9);
  color: var(--generalColor);
  border: 1px solid var(--generalColor);
}
.theme-dark .item-2J1YMK {
  color: white;
}
.theme-dark .container-3cGP6G {
  background: black;
}
.theme-dark .item-2J1YMK:active, 
.theme-dark .item-2J1YMK:hover {
  background-color: var(--generalColor);
}
/* Friend Section and Last One */
.theme-dark .quickswitcher-3JagVE {
  background-color: rgba(0,0,0,0.9);
  color: white;
}

.scroller-zPkAnE,
.scroller-2XE8rp {
  background-color: transparent;
}

.quickswitcher-3JagVE {
  width: 570px;
  border-radius: 8px;
  padding: 20px 20px 0;
  box-shadow: 0 4px 10px rgba(0,0,0,.7), 0 0 0 1px rgba(28,36,43,.6);
}

.theme-dark .input-2VB9rf {
  box-shadow: none;
}
.theme-dark .input-2VB9rf:focus {
  box-shadow: none;
  border: 2px solid var(--generalColor);
}
.theme-dark .input-2VB9rf {
  background-color: transparent;
}
.theme-dark .resultFocused-3aIoYe {
  background: linear-gradient(360deg, rgba(227,227,227,0.2) 46%, rgba(255,255,255,0.26) 100%);
  border-radius: 10px;
}
.controlIcon-35oS15 {
  color: white !important;
}
.theme-dark .contentUnread-3gTHvA .note-S--UP5,
.miscContainer-2ptJ_C {
  color: silver;
}
.theme-dark .contentDefault-16dKSY {
  color: white;
}

.theme-dark .tipsWithoutResults-lGY-De, 
.theme-dark .tipsWithResults-HhTE9b {
  border-color: transparent;
  color: white;
}

.theme-dark .keybindShortcut-1BD6Z1 span {
  color: white !important;
  box-shadow: none;
  border: none;
  background-color: var(--generalColor);
}
.keybindShortcut-1BD6Z1 span {
  border-radius: 8px;
}
.theme-dark .keybindShortcut-1BD6Z1 span:active {
  box-shadow: inset 0 4px 0 rgba(255,255,255,.34);
  border: none;
}
.theme-dark .keybindShortcutTipsSelect-HDyfe8:last-of-type:before {
  background-color: transparent;
}

.channel-2QD9_O, 
.channel-2QD9_O a {
  color: silver;
}

.selected-aXhQR6 .layout-2DM8Md {
  background-color: rgba(0,0,0,0.5);
}
.name-2WpE7M {
  color: silver;
}

.actionButton-uPB8Fs {
  color: white;
}



.theme-dark .topPill-30KHOu .themed-OHr7kt.selected-3s45Ha.item-PXvHYJ, .theme-dark .topPill-30KHOu .themed-OHr7kt.selected-3s45Ha.item-PXvHYJ:hover {
  background-color: rgba(0,0,0,0.8) !important;
  border: 1px solid var(--generalColor);
}
.theme-dark .container-cMG81i,
.privateChannels-1nO12o {
  background-color: transparent;
}

.privateChannels-1nO12o header {
  opacity: .7;
}

.theme-dark .title-30qZAO {
  color: white;
}

.theme-dark .peopleListItem-2nzedh {
  border-top: none;
}
.theme-dark .peopleListItem-2nzedh:hover {
  background: rgba(111, 157, 200,.3);
  border-color: transparent;
}
.theme-dark .actionButton-uPB8Fs {
  background-color: rgba(0, 0, 0, 0.137);
  border-color: var(--generalColor);
  border-width: 2px;
  border-style: solid;
  color: white !important;
}
.theme-dark .actionButton-uPB8Fs:hover {
  background-color: var(--generalColor);
}
.actionButton-uPB8Fs.actionDeny-de_uKj:hover {
  background-color: #E82317!important;
  color: white !important;
}

.theme-dark .subtitle-2P4u9v {
  color: white;
}
.theme-dark .friendSelected-1sa4bG {
  background-color: rgba(0,0,0,.3);
  border-color: var(--generalColor);
  border-width: 1px;
  border-style: solid;
}
.theme-dark .friend-3KALPe {
  color: silver;
}
.theme-dark .checked-3_4uQ9[style*="border-color: rgb(79, 84, 92);"] {
  border-color: transparent !important;
  background-color: rgba(0,0,0,0.5) !important;
}
.theme-dark .checked-3_4uQ9[style*="border-color: rgb(79, 84, 92);"] polyline[stroke] {
  stroke: white;
}
.theme-dark .tag-2gHSR7 {
  background: var(--generalColor);
  color: white;
  border-radius: 8px;
  border: 2px solid rgba(0,0,0,0.3);
}
.theme-dark .sectionHeader-20RGqu {
  border-bottom: none;
}

.theme-dark .wrapper-1cBijl {
  border-color: transparent;
  background-color: rgba(0,0,0,0.40);
}
.video-1FfuMD {
  background-color: transparent;
}
.theme-dark .wrapper-29NfPK {
  background-color: rgba(0,0,0,0.4);
}
.theme-dark .wrapper-29NfPK.minimum-2d6zH6 .actions-2vadYq .center-1Vp33r {
  border-color: transparent;
  background-color: transparent;
}
.callAvatarBorder-1D_KaE.voice-2D-tt_.speaking-oCqYMI {
  box-shadow: 0 0 13px 3px #43b581;
  padding-bottom: 4px;
}
.theme-dark .akaBadge-1M-1Gw {
  background-color: black;
}
.quickSelectLabel-2r3iJ_ {
  opacity: .7;
}

.theme-dark .callAvatar-v-u4BM.voice-2D-tt_ .callAvatarStatus-3y6S04 {
  border-color: transparent;
}
.callAvatar-v-u4BM.voice-2D-tt_ .callAvatarStatus-3y6S04 {
  background-color: var(--generalColor);
}
.theme-dark .quickSelectPopout-X1hvgV {
  background: rgba(0,0,0,0.8);
  color: white;
}
.theme-dark .quickSelectPopoutOption-opKBx9:hover {
  background-color: transparent;
  border: 1px solid rgba(255,255,255,.12);
}


/* Links */

.theme-dark .embedTitleLink-1Zla9e {
  color: white!important;
}

.standardSidebarView-3F1I7i a,
.theme-dark .card-3Qj_Yx a,
.bda-slist .bda-footer a,
.content-8biNdB a,
.footer-3rDWdC a,
.lookLink-9FtZy-.colorLink-35jkBc,
.theme-dark .markup-2BOw-j a,
.quickswitcher-3JagVE a,
.theme-dark .topic-TCb_qw a,
.filenameLinkWrapper-1-14c5 a,
.operations-36ENbA>a,
.theme-dark .welcomeMessage-3_Mcht a,
.localBotMessage-1cGMdw a,
.theme-dark .container-3-pyIM .content-2M3n_H a,
.helpText-h3r3wC a,
.lookLink-9FtZy-.colorBrand-3pXr91,
.emptyStateSubtext-2njjqg a,
.theme-dark .container-2x5lvQ section a,
.lookLink-9FtZy-.colorLink-35jkBc:hover .contents-18-Yxp {
  background-image: linear-gradient(0deg,transparent,transparent 1px,rgba(255, 255, 255, 0.308) 0,rgba(255, 255, 255, 0.308) 2px,transparent 0);
}
.welcomeMessage-3_Mcht .h1-1IDj26,
.welcomeMessage-3_Mcht p {
  color: white;
}

/* ---- */
.theme-dark .message-2qRu38 {
  background-color: rgba(0,0,0,0.3);
	border: 2px solid black;
  box-shadow: none;
}
.message-2qRu38 {
  border-radius: 9px;
}
.standardSidebarView-3F1I7i #editor-detached button {
  background: var(--generalColor);
}
.theme-dark .expandedFolderBackground-2sPsd-, 
.theme-dark .folder-21wGz3 {
  background-color: rgba(0,0,0,0.42) !important; 
		height: 49px;
		border-radius: 19px;
}
.folder-21wGz3, .folderIconWrapper-226oVY {
  width: 49px;
  height: 49px;
		border-radius: 0px;
}

.panels-j1Uci_ {
  background-color: transparent;
}

/* Emotes Picker */
#bda-qem button {
  background: black;
  border-left: none;
  box-shadow: none;
}

#bda-qem button:hover {
  background-color: var(--generalColor);
}

#bda-qem-favourite-container, 
#bda-qem-twitch-container {
  background-color: black;
}

.emojiPicker-3m1S-j .categories-1feg4n {
  background: none;
}

.slateTextArea-1bp44y {
  caret-color: white;
  position: absolute;
  left: 8px;
  right: 10px;
  top: 13px;
}


#bda-qem button.active {
  background-color: var(--generalColor) !important;
}

#bda-qem {
  border-bottom: none!important;
  background: transparent;
}

.theme-dark .resultsGroup-r_nuzN:before {
  border-top: none;
}

.h5-18_1nd {
  color: silver;
}

.theme-dark .focused-2bY0OD {
  background-color: rgba(0,0,0,0.3);
}

.theme-dark .queryContainer-RKFJW- {
  color: white;
  border-bottom-color: transparent;
}

.bg-h5JY_x {
  background-color: transparent;
}

.nowPlayingColumn-2sl4cE {
  background: transparent;
}