/**
 * @name V3rzeT Theme
 * @version 1.0
 * @description Just my theme (:
 * @author V3rzeT
 * 
 * @website http://github.com/V3rzeT
 * @source https://github.com/V3rzeT/BetterDiscordThemes/blob/main/V3rzeT.theme.css
 */

@import url("https://dav1312.github.io/BD/SimpleBackground/main.css");

/* Main Theme Stuff */
:root {
    --generalColor: #0fefff;
    --border-Accent-Color: rgba(255, 255, 255, 0.555);

    --color-primary: transparent !important;
    --color-secondary: transparent !important;
    --color-tertiary: transparent !important;

    --background: linear-gradient(rgba(0,0,0,0.2), rgba(0,0,0,0.2)), url('https://i.imgur.com/oRRZNGd.png');
    /* --background: url('https://i.imgur.com/oRRZNGd.png'); */
    --chat-transparency: 0.7;
    --sides-transparency: 0.5;
    --sides-blur: 3px;
}

/* Discord Logo Animation */
@keyframes oldDiscordLogoAnim {
  from {
    background-color: white;
    filter: drop-shadow(0px 0px 5px white);
  }
  to {
    background-color: rgb(163, 166, 170);
    filter: none;
  }
}
@keyframes newDiscordLogoAnim {
  from {
    color: white;
    filter: drop-shadow(0px 0px 5px white);
  }
  to {
    color: rgb(163, 166, 170);
    filter: none;
  }
}
@keyframes rainbowAnim {
  from { background-position: 200% 0; }
}

/* New Discord Logo */
/* .wordmarkWindows-2dq6rw svg {
  color: white;
  animation-name: newDiscordLogoAnim;
  animation-duration: 2s;
  animation-iteration-count: infinite;
  animation-direction: alternate-reverse;
  animation-timing-function: ease-in-out;
} */

/* "Old" (good) Discord Logo */
.wordmarkWindows-2dq6rw {
  margin-left: 10px;
  margin-top: 7px;
  width: 32.739px;
  height: 8px;
  -webkit-mask-image: url(https://v3rzet.github.io/BetterDiscordThemes/discord-logo-text_og.svg);
  -webkit-mask-size: contain;
  -webkit-mask-repeat: no-repeat;
  background: white;
  animation-name: oldDiscordLogoAnim;
  animation-duration: 2s;
  animation-iteration-count: infinite;
  animation-direction: alternate-reverse;
  animation-timing-function: ease-in-out;
}
.wordmarkWindows-2dq6rw svg {
  display: none;
}

/* Rainbow Anim Stuff, uncomment this, and comment the other anim stuff to use */
/* And yes, I know that I could have just made a GIF of this and used it as background image, but  n o    I won't xd */
/* .wordmarkWindows-2dq6rw {
  margin-left: 10px;
  margin-top: 7px;
  width: 32.739px;
  height: 8px;
  min-height:100%;
  -webkit-mask-image: url(https://v3rzet.github.io/BetterDiscordThemes/discord-logo-text_og.svg);
  -webkit-mask-size: contain;
  -webkit-mask-repeat: no-repeat;
  background: 
   linear-gradient(90deg, rgba(255,0,0,1) 0%, rgba(255,154,0,1) 10%, rgba(208,222,33,1) 20%, rgba(79,220,74,1) 30%, rgba(63,218,216,1) 40%, rgba(47,201,226,1) 50%, rgba(28,127,238,1) 60%, rgba(95,21,242,1) 70%, rgba(186,12,248,1) 80%, rgba(251,7,217,1) 90%, rgba(255,0,0,1) 100%) 
   0 0/200% 100%;
  animation: rainbowAnim 2s linear infinite;
}
.wordmarkWindows-2dq6rw svg {
  display: none;
} */

/* Top Right "Action Buttons" */
.winButton-3UMjdg {
  color: white;
}

/* Middle panel Background */
.chatContent-3KubbW {
  backdrop-filter: blur(0.5px);
}

/* Left Sidebar */
.scroller-3X7KbA {
  background-color: rgba(255, 255, 255, 0.03);
}

/* Guilds Sidebar */
.circleIconButton-1VxDrg {
  background: transparent !important;
  border-style: solid;
  border-width: 2px;
  border-radius: 30px;
  border-color: var(--border-Accent-Color);
}
.circleIcon-3489FI {
  color: var(--generalColor);
  filter: drop-shadow(0px 0px 2px var(--generalColor));
}
.wrapper-3kah-n[data-list-item-id="guildsnav___home"] .childWrapper-1j_1ub {
  background-color: rgba(255, 255, 255, 0.1);
}
.wrapper-3kah-n[class~="selected-1Drb7Z"] .childWrapper-1j_1ub {
  background-color: rgba(255, 255, 255, 0.2);
}
.folder-241Joy {
  background-color: rgba(255, 255, 255, 0.1);
}
.folder-241Joy:hover {
  background-color: rgba(255, 255, 255, 0.2);
}
.expandedFolderBackground-1kSAf6 {
  background-color: rgba(255, 255, 255, 0.2);
}
/* TODO, fix text cutoff on right (padding not cutting text off) */
.wrapper-3kah-n:not([data-list-item-id="guildsnav___home"]) .childWrapper-1j_1ub {
  background-color: transparent;
  border-style: solid;
  border-width: 2px;
  border-radius: 50%;
  border-color: var(--border-Accent-Color);
  color: white;
  box-sizing: border-box;
  display: block !important;
  text-align: center;
  vertical-align: middle;
  line-height: 44px;
  padding-left: 2px !important;
  padding-right: 2px !important;
}
.wrapper-3kah-n:not([data-list-item-id="guildsnav___home"])[class~="selected-1Drb7Z"] {
  background-color: rgba(0, 0, 0, 0.2);
  border-radius: 50%;
}
.homeIcon-r0w4ny {
  border: none !important;
}
.tooltip-14MtrL, .layerContainer-2v_Sit .tooltipContent-Nejnvh {
  background-color: rgba(0, 0, 0, 0.15) !important;
  backdrop-filter: blur(5px);
  border-style: solid;
  border-color: var(--generalColor);
  border-width: 1px;
  border-radius: 5px;
  box-shadow: 0px 0px 5px var(--generalColor) !important;
}
.layerContainer-2v_Sit .tooltipPointer-3L49xb {
  border-top-color: var(--generalColor) !important;
  filter: drop-shadow(0px 0px 2px var(--generalColor)) !important;
  padding-right: -1px !important;
}
.guilds-2JjMmN {
  padding-right: 5px;
}
.guilds-2JjMmN ul {
  margin-right: -5px;
}
.guilds-2JjMmN .guildSeparator-a4uisj {
  background-color: rgba(255, 255, 255, 0.17);
  width: 100%;
  margin-right: 10px;
  margin-left: 10px;
}

/* DM Chats Panel */
.privateChannels-oVe7HL, .sidebar-1tnWFu .container-1NXEtd {
  background-color: rgba(255, 255, 255, 0.03);
}
.activityText-ev7Z1T {
  color: beige;
  text-shadow: 0px 0px 5px black;
}

/* Image Attachments Preview */
.channelAttachmentArea-HwpkuQ li {
  background-color: rgb(0, 0, 0, 0.4);
}

/* Text Chat Search Panel */
.container-2McqkF {
  background-color: transparent !important;
  box-shadow: 0px 0px 5px gray !important;
  border: none !important;
}
.layer-2aCOJ3 .container-2McqkF .resultsGroup-cfY57t {
  background-color: rgba(0, 0, 0, 0.2);
  text-shadow: 0px 0px 5px black;
  backdrop-filter: blur(15px);
}
.layer-2aCOJ3 .container-2McqkF .option-ayUoaq::after {
  display: none;
}
.layer-2aCOJ3 .container-2McqkF .header-1BR0Ro, .layer-2aCOJ3 .container-2McqkF .searchLearnMore-1gNL3A, .layer-2aCOJ3 .container-2McqkF .filter-2QaH9y, .layer-2aCOJ3 .container-2McqkF .answer-14OVbQ, .layer-2aCOJ3 .container-2McqkF .plusIcon-1RVszG{
  text-shadow: 0px 0px 5px black;
  color: white !important;
}
.layer-2aCOJ3 .container-2McqkF .option-ayUoaq:hover, .layer-2aCOJ3 .container-2McqkF .searchOption-3u1gRt:hover {
  background-color: rgba(255, 255, 255, 0.1) !important;
}
.layer-2aCOJ3 .container-2McqkF .searchOption-3u1gRt::after, .layer-2aCOJ3 .container-2McqkF .plusIcon-1RVszG {
  background: none !important;
}
.searchResultsWrap-5RVOkx {
  background-color: rgba(0, 0, 0, 0.4);
  backdrop-filter: blur(15px);
}
.searchResultsWrap-5RVOkx .searchHeader-1r_ZSh {
  background-color: rgba(0, 0, 0, 0.2);
  border-bottom: 1px solid rgba(128, 128, 128, 0.5);
}
.searchResultGroup-1lU_-i .channelName-3w2Y3c {
  background-color: transparent;
  color: white !important;
  text-shadow: 0px 0px 5px black;
}
.searchResult-O9NDji {
  background-color: rgba(0, 0, 0, 0.2);
  border-style: solid !important;
  border-width: 2px !important;
  border-color: var(--generalColor) !important;
  box-shadow: 0px 0px 5px var(--generalColor);
}
.searchResultsWrap-5RVOkx .pageButton-1GMGeJ[class~="activeButton-LRWFC_"] {
  background-color: transparent;
  border: 2px solid var(--generalColor);
  box-shadow: 0px 0px 5px var(--generalColor);
}
.searchResultsWrap-5RVOkx .pageButton-1GMGeJ[class~="activeButton-LRWFC_"]:hover {
  background-color: rgba(255, 255, 255, 0.2);
}
.searchResultsWrap-5RVOkx .buttonsContainer-Nmgy7x .button-cfOvv- {
  padding-top: 5px;
  background-color: rgba(0, 0, 0, 0.2) !important;
  border: 2px solid var(--generalColor);
  box-shadow: 0px 0px 5px var(--generalColor) !important;
  padding-top: 2px;
  color: white;
}
.searchResultsWrap-5RVOkx .buttonsContainer-Nmgy7x .button-cfOvv-:hover {
  background-color: rgba(255, 255, 255, 0.2) !important;
}

/* Nitro Ad Removal */
.upsellBanner-1tVKtW, .upsellContainer-3qKRln {
  display: none !important;
}
.userPopout-2j1gM4 .wrapper-1z1z-S {
  display: none !important;
}

/* Quick Channel Finder */
.quickswitcher-pKcM9U {
  border-style: solid !important;
  border-width: 2px !important;
  border-color: var(--generalColor) !important;
  box-shadow: 0px 0px 5px var(--generalColor);

  background-color: rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(10px);
}
.quickswitcher-pKcM9U .scroller-2qwVWY {
  background-color: transparent;
}
.quickswitcher-pKcM9U .scroller-2qwVWY .result-u66Ywh[aria-selected=true] {
  background-color: rgba(255, 255, 255, 0.1);
}
.quickswitcher-pKcM9U .input-3r5zZY {
  border-style: solid !important;
  border-width: 2px !important;
  border-color: var(--generalColor) !important;
  box-shadow: 0px 0px 5px var(--generalColor);

  background-color: transparent;
}

/* Delete message popout */
.layer-1Ixpg3 .focusLock-2tveLW .root-g14mjS {
  background-color: rgba(0, 0, 0, 0.2) !important;
  backdrop-filter: blur(5px);
}
.layer-1Ixpg3 .focusLock-2tveLW .root-g14mjS .content-2hZxGK .message-G6O-Wv {
  background-color: rgba(0, 0, 0, 0.4) !important;
}

/* Friend Activity Panel */
.container-1oAagU .itemCard-3Etziu {
  border-style: solid !important;
  border-width: 2px !important;
  border-color: var(--generalColor) !important;
  box-shadow: 0px 0px 5px var(--generalColor);

  background-color: rgba(0, 0, 0, 0.2);
}
.container-1oAagU .itemCard-3Etziu:hover{
  background-color: rgba(0, 0, 0, 0.3) !important;
}
.container-1oAagU .body-16rSsp, .container-1oAagU .section-3G9aLW {
  background-color: rgba(0, 0, 0, 0.2) !important;
}
.container-1oAagU .text-sm-normal-3Zj3Iv {
  color: white !important;
}
.container-1oAagU .outer-VAWfYQ {
  background-color: rgba(0, 0, 0, 0.5) !important;
  fill: transparent !important;
}

/* Code Blocks */
code.scrollbarGhostHairline-2LpzZ9 {
  border-style: solid !important;
  border-width: 2px !important;
  border-color: var(--generalColor) !important;
  box-shadow: 0px 0px 5px var(--generalColor);
}
/* .message-2CShn3 code.scrollbarGhostHairline-2LpzZ9 {
  border: none !important;
} */
code.inline {
  border-style: solid !important;
  border-width: 2px !important;
  border-color: var(--generalColor) !important;
  border-radius: 5px !important;
  box-shadow: 0px 0px 5px var(--generalColor);
  vertical-align: middle;
  margin: 0px 1.5px 0px 1px !important;
}
.zalgo-26OfGz .messageContent-2t3eCI {
  overflow: visible;
}

/* Bottom Left User Panel */
.panels-3wFtMD {
  border-top: 1px solid rgba(255, 255, 255, 0.05);
  background-color: rgba(255, 255, 255, 0.05);
}
.panels-3wFtMD .rtcConnectionStatus-c5A6Av .labelWrapper-1HofQ- button:hover {
  background-color: transparent !important;
}

/* Public Server Icon */
.communityInfoContainer-1dMVpU .communityInfo-3YsNIn .communityInfoPill-2Mll66 {
  background-color: rgba(0, 0, 0, 0.25);
}

/* Server Rules Popout */
.focusLock-2tveLW .container-2E0bff .vertical-3aLnqW, .focusLock-2tveLW .container-2E0bff .modal-2TOYtq {
  background-color: transparent !important;
}
.focusLock-2tveLW .container-2E0bff .formFieldWrapper-2LV3S6 {
  background-color: rgba(255, 255, 255, 0.02);
}
.focusLock-2tveLW .container-2E0bff .formFieldWrapper-2LV3S6 .text-md-normal-304U3g {
  color: white !important;
}
.checkboxWrapper-2fDzaA .checkbox-f1HnKB {
  border: 1px solid var(--generalColor) !important;
  box-shadow: 0px 0px 5px var(--generalColor);
  background-color: transparent !important;
}

/* Server Member Panel */
.membersWrap-3NUR2t {
  background-color: rgba(255, 255, 255, 0.03);
}
.desaturateUserColors-1O-G89 span {
  color: white !important;
}

/* Loading Spinner */
.spinner-2RT7ZC {
  background-color: transparent !important;
}
.spinner-2RT7ZC .wanderingCubesItem-3Us-UG {
  background-color: var(--generalColor) !important;
  box-shadow: 0px 0px 5px var(--generalColor);
  border-radius: 50%;
}
.loadingPopout-1feYe_ {
  background-color: rgba(0, 0, 0, 0.2) !important;
  box-shadow: 0px 0px 5px rgba(255, 255, 255, 0.2);
}
.loadingPopout-1feYe_ .spinningCircle-CmRLnP .path-lhsLSV {
  stroke: var(--generalColor) !important;
  /* filter: drop-shadow(0px 0px 5px var(--generalColor)); */
  box-shadow: 0px 0px 5px var(--generalColor);
}

/* Loading Popout */
.layerContainer-2v_Sit .popoutContainer-2wbmiM .popoutLoadingBackground-qs-T5i .popoutLoadingForeground-3xnRkg {
  background: linear-gradient(to right, rgba(0, 0, 0, 0.5) , rgba(0, 0, 0, 0.1)) !important;
}

/* Role Display Plugin Background fix */
.role-2TIOKu {
  background-color: rgba(0, 0, 0, 0.4);
}

/* Profile Nickname Font */
.username-3JLfHz, .discrimBase-1VOoau {
  color: white !important;
}

/*Right Click Dialog*/
.menu-1QACrS {
  background-color: rgba(0, 0, 0, 0.2);
  box-shadow: 0px 0px 5px gray;
  text-shadow: 0px 0px 5px black;
}
.menu-1QACrS::before {
  content: '';
  width: 100%;
  height: 100%;
  position: absolute;
  backdrop-filter: blur(15px);
  z-index: -999;
  border-radius: 5px;
}
.menu-1QACrS .button-1zW0-r {
  background-color: transparent;
  border: 2px solid rgba(255, 255, 255, 0.2);
}
.menu-1QACrS .item-1OdjEX[class~="focused-3qFvc8"] {
  background-color: rgba(255, 255, 255, 0.1) !important;
}
.label-2gNW3x {
  font-weight: 400;
  color: white;
}

/* Mute Mic Icon */
.icon-N9JZb6 {
  color: white;
  filter: drop-shadow(0px 0px 5px white);
}
.iconServer-GeSR0b {
  filter: drop-shadow(0px 0px 5px red);
}
.strikethrough-2G7pYT {
  color: red;
  filter: drop-shadow(0px 0px 5px red);
}
.iconServer-GeSR0b {
  color: red;
}


/* Server Invite Popup */
.layerContainer-2v_Sit .focusLock-2tveLW .container-1Gt1iQ .contentWrapper-3oy4Xo {
  background-color: transparent;
}

/* Server Voice Channels */
.sidebar-1tnWFu .scroller-1ox3I2 {
  padding-right: 8px !important;
}

/* Voice Channel People Count Transparency stuff */
.content-1gYQeQ .children-1MGS9G .channelInfo-3jN1ay  {
  border-width: 2px;
  border-radius: 12px;
  background-color: transparent;
  border-style: solid;
  border-color: rgba(255, 255, 255, 0.4);
}
.users-2JoyGL {
  color: white;
  background-color: rgba(255, 255, 255, 0.1);
}
.total-1c5KCN {
  color: white;
  background-color: rgba(255, 255, 255, 0.25);
}
.total-1c5KCN::after {
  border-right-color: rgba(255, 255, 255, 0.15);
}

/* Friends List */
.actionButton-3-B2x- {
  background: transparent !important;
  border-style: solid;
  border-width: 2px;
  border-radius: 30px;
  border-color: var(--border-Accent-Color);
  color: var(--generalColor);
  box-shadow: 0px 0px 5px var(--generalColor);
}
.container-ZMc96U .item-3mHhwr[aria-controls~="add_friend-tab"] {
  background-color: rgba(0, 0, 0, 0.2) !important;
  border-style: solid;
  border-color: var(--generalColor);
  border-width: 2px;
  box-shadow: 0px 0px 5px var(--generalColor) !important;
  backdrop-filter: blur(5px);
}
.container-12Vzf8 .action-1R6ERA:not([class~="text-sm-normal-3Zj3Iv"]) {
  background-color: rgba(0, 0, 0, 0.2) !important;
  border-style: solid;
  border-color: var(--generalColor);
  border-width: 2px;
  box-shadow: 0px 0px 5px var(--generalColor) !important;
  backdrop-filter: blur(5px);
}
.container-12Vzf8 .mutualGuilds-1zEYLd, .container-12Vzf8 .text-sm-normal-3Zj3Iv {
  color: white !important;
}
.container-12Vzf8 .divider-2BCfFf {
  background-color: white;
}

/* Embeds */
.embedProvider-1GSN0c, .embedTitle-2n1pEb, .embedDescription-1DrJxZ {
  text-shadow: 0px 0px 5px black !important;
}
.embedWrapper-1MtIDg:not(.imageWrapper-oMkQl4):not(.embedFull-1HGV2S) .originalLink-Azwuo9 {
  background-color: rgba(0, 0, 0, 0.123);
  border-style: solid;
  border-width: 2px;
  border-color: var(--generalColor) !important;
  box-shadow: 0px 0px 5px var(--generalColor);
  overflow: visible !important;
}
.embedFull-1HGV2S {
  background-color: rgba(0, 0, 0, 0.123);
  border-style: solid;
  border-width: 2px;
  border-color: var(--generalColor) !important;
  box-shadow: 0px 0px 5px var(--generalColor);
  overflow: visible !important;
}
.blockquoteDivider-363utW {
  background-color: var(--generalColor) !important;
  box-shadow: 0px 0px 5px var(--generalColor);
}
.embedWrapper-1MtIDg .textContainer-36wgKK {
  border: none !important;
}
/* Message Attachment Image Border Fix */
/* I have no idea what looks better (no border around images at all, or only in embeds?)
.messageAttachment-CZp8Iv .imageWrapper-oMkQl4 {
  box-shadow: none !important;
  border: none !important;
} */

/* Invite Embed */
.container-2sjPya .wrapper-1HIH0j {
  background-color: transparent !important;
  border: 2px solid var(--generalColor);
  box-shadow: 0px 0px 5px var(--generalColor);
  background-color: rgba(0, 0, 0, 0.15);
}
.container-2sjPya .wrapper-1HIH0j .button-2b4VEQ {
  background-color: rgba(0, 0, 0, 0.2) !important;
  border-style: solid;
  border-color: var(--generalColor);
  border-width: 2px;
  box-shadow: 0px 0px 5px var(--generalColor) !important;
  backdrop-filter: blur(5px);
}
.container-2sjPya .wrapper-1HIH0j .button-2b4VEQ:hover {
  background-color: rgba(255, 255, 255, 0.1) !important;
}

/* Audio Message Attachment */
.messageAttachment-CZp8Iv .wrapperAudio-1Bzv_Z {
  background-color: rgba(0, 0, 0, 0.1);
  border: 2px solid var(--generalColor);
  box-shadow: 0px 0px 5px var(--generalColor);
}
.messageAttachment-CZp8Iv .wrapperAudio-1Bzv_Z .metadataName-1KMZtB, .messageAttachment-CZp8Iv .wrapperAudio-1Bzv_Z .metadataSize-2A2s1T {
  color: white !important;
}
.messageAttachment-CZp8Iv .wrapperAudio-1Bzv_Z .audioControls-3fmemK {
  border-top: 1px solid rgba(255, 255, 255, 0.15);
  background-color: transparent;
}
.messageAttachment-CZp8Iv .wrapperAudio-1Bzv_Z .mediaBarProgress-38I317, .messageAttachment-CZp8Iv .wrapperAudio-1Bzv_Z .mediaBarProgress-38I317::before, .messageAttachment-CZp8Iv .wrapperAudio-1Bzv_Z .mediaBarProgress-38I317::after, .messageAttachment-CZp8Iv .wrapperAudio-1Bzv_Z .mediaBarGrabber-FvJKJg {
  background-color: var(--generalColor);
  box-shadow: 0px 0px 5px var(--generalColor);
}

/* Server Color Stuff */
.channelName-3KPsGw {
  color: rgb(220, 220, 220) !important;
  text-shadow: 0px 0px 5px black;
}
.modeUnread-3Cxepe .channelName-3KPsGw {
  text-shadow: 0px 0px 5px black;
  color: white !important;
  /* font-weight: bold; */
}
.modeMuted-2T4MDZ .channelName-3KPsGw, .modeMuted-2T4MDZ .icon-2W8DHg {
  color: rgba(255, 255, 255, 0.5) !important;
  text-shadow: 0px 0px 5px black;
}
.name-3BUDLf, .icon-2W8DHg, .addButtonIcon-3rJeaD, .actionIcon-2sw4Sl, .arrow-2HswgU, .icon-2xnN2Y, .membersGroup-2eiWxlб, .content-1gYQeQ a:not([href]) .name-28HaxV .channelName-3KPsGw {
  color: white !important;
  text-shadow: 0px 0px 5px black;
}
.wrapper-1S43wv.muted-19J0ih .overflow-1wOqNV {
  color: rgba(255, 255, 255, 0.5) !important;
}
.channelInfo-3jN1ay {
  /* Little White Circle on Channels fix */
  border: none !important;
}
.channelInfo-3jN1ay .mentionsBadge-3H1BKJ {
  border-width: 2px;
  border-radius: 12px;
  border-style: solid;
  border-color: rgba(255, 255, 255, 0.4);
}

/* Channel Selection */
.containerDefault-YUSmu3 .modeSelected-3DmyhH .content-1gYQeQ {
  background-color: rgba(255, 255, 255, 0.03) !important;
  border: 1px solid rgba(255, 255, 255, 0.2);
  box-shadow: 0px 0px 5px rgba(255, 255, 255, 0.5);
  margin-bottom: 5px;
}
.selected-2TbFuo .content-1gYQeQ, .selected-3veCBZ {
  background-color: rgba(255, 255, 255, 0.2) !important;
}
.content-1gYQeQ:hover, .interactive-1vLZ_I:hover, .containerDefault-YUSmu3 .modeSelected-3DmyhH .content-1gYQeQ:hover {
  background-color: rgba(255, 255, 255, 0.1) !important;
}

/* Voice Chat Nickname Color Fix */
/* and */
/* Chat List Nickname Color Fix */
.usernameFont-2oJxoI, .name-2m3Cms {
  color: white;
  font-weight: normal;
}

/* Bottom Left Panel Text */
/* .subtext-2HDqJ7:not(.usernameContainer-3PPkWq) {
  color: red;
} */
.subtext-2HDqJ7 {
  color: white;
}

/* Unread Message Channels */
.unread-36eUEm, .item-2LIpTv {
  background-color: var(--generalColor) !important;
  box-shadow: 0px 0px 5px var(--generalColor);
}

/* Unread Messages bar */
.container-24rGVp .bar-wDIGjg, .unreadBar-elBRZx {
  background-color: rgba(0, 0, 0, 0.5);
  border-color: var(--generalColor);
  border-width: 2px;
  border-style: solid;
  box-shadow: 0px 0px 5px var(--generalColor);
  backdrop-filter: blur(5px);
}
.container-24rGVp .bar-wDIGjg .text-xs-medium-2LRpEj, .unreadBar-elBRZx .text-2GsXbW {
  color: white !important;
}

/* Other unread messages bar */
.unreadMentionsBar-ZXXoOH {
  background-color: rgba(255, 255, 255, 0.2);
  border-color: var(--generalColor);
  border-width: 2px;
  border-style: solid;
  box-shadow: 0px 0px 5px var(--generalColor);
  backdrop-filter: blur(5px);
}
.newMessagesBar-1hF-9G, .jumpToPresentBar-1cEnH0 {
  background-color: rgba(255, 255, 255, 0.2);
  border-color: var(--generalColor);
  border-width: 2px;
  border-style: solid;
  box-shadow: 0px 0px 5px var(--generalColor);
  backdrop-filter: blur(5px);
}

/* Activity Status Color Fix */
.activityText-1rR-8O {
  color: white;
}

/* Text Input Field Stuff */
.slateTextArea-27tjG0 {
  caret-color: white;
  color: white;
  left: -1px;
  top: -0.5px !important;
}
.scrollableContainer-15eg7h {
  background-color: rgba(255, 255, 255, 0.08) !important;
  box-shadow: 0px 0px 5px gray;
}
.form-3gdLxP {
  padding-top: 5px;
}
.searchBar-3TnChZ .searchBarComponent-3N7dCG, .searchBar-2aylmZ, .searchBar-jGtisZ {
  background-color: rgba(255, 255, 255, 0.1) !important;
  box-shadow: 0px 0px 5px var(--border-Accent-Color);
  color: white !important;
}
.searchBar-jGtisZ .public-DraftEditorPlaceholder-inner, .searchBar-jGtisZ .icon-18rqoe {
  color: white;
}

/* Voice Channel Activity Panel */
.container-8Futzw {
  background-color: rgba(0, 0, 0, 0.2);
  backdrop-filter: blur(5px);
  box-shadow: 0px 0px 5px var(--border-Accent-Color);
}

/* News Popout */
.modal-3Hrb0S {
  background-color: transparent;
}
.modal-3Hrb0S ul li {
  color: white !important;
}

/* Jump To Present Message Bar */
.jumpToPresentBar-1cEnH0 {
  margin-bottom: 7px;
}

/* Gray Button */
.button-1EGGcP {
  background-color: rgba(255, 255, 255, 0.1) !important;
}

/* Unread Mail Popout */
.layerContainer-2v_Sit .layer-2aCOJ3 .recentMentionsPopout-2bI1ZN {
  background-color: rgba(0, 0, 0, 0.2);
  backdrop-filter: blur(15px);
  box-shadow: 0px 0px 5px gray !important;
}
.layerContainer-2v_Sit .layer-2aCOJ3 .recentMentionsPopout-2bI1ZN .tabBar-1qdMr5 .selected-g-kMVV {
  background-color: rgba(255, 255, 255, 0.1);
}
.layerContainer-2v_Sit .layer-2aCOJ3 .recentMentionsPopout-2bI1ZN .container-iA3Qrz .channelHeader-DFRX8q {
  background-color: rgba(24, 24, 24, 0.6);
}
.layerContainer-2v_Sit .layer-2aCOJ3 .recentMentionsPopout-2bI1ZN .container-iA3Qrz .messageContainer-3VTXBC {
  background-color: rgba(0, 0, 0, 0.2);
  border: 2px solid var(--generalColor);
  box-shadow: 0px 0px 5px var(--generalColor) !important;
}
.layerContainer-2v_Sit .layer-2aCOJ3 .recentMentionsPopout-2bI1ZN .tertiary-1e-lAP, .layerContainer-2v_Sit .layer-2aCOJ3 .recentMentionsPopout-2bI1ZN .secondary-2bzKEX {
  background-color: rgba(25, 25, 25, 0.4) !important;
}

/* Thread Popup */
.layerContainer-2v_Sit .layer-2aCOJ3 .browser-mnQ1T7 {
  background-color: rgba(0, 0, 0, 0.4);
  backdrop-filter: blur(5px);
  box-shadow: 0px 0px 5px var(--border-Accent-Color) !important;
}
.layerContainer-2v_Sit .layer-2aCOJ3 .browser-mnQ1T7 .header-3_zmOb {
  background-color: rgba(0, 0, 0, 0.4);
  border-bottom: 1px solid rgba(128, 128, 128, 0.4);
}
.layerContainer-2v_Sit .layer-2aCOJ3 .browser-mnQ1T7 .header-3_zmOb .searchBox-3IjAC1 {
  background-color: rgba(255, 255, 255, 0.1) !important;
  box-shadow: 0px 0px 5px var(--border-Accent-Color);
  color: white !important;
}

/* Open URL Warning Popup */
.layerContainer-2v_Sit .focusLock-2tveLW .container-KJ38dt .form-2oOOG9 {
  border: 2px solid var(--generalColor);
  box-shadow: 0px 0px 5px var(--generalColor);
  border-radius: 8px;
}
.layerContainer-2v_Sit .focusLock-2tveLW .container-KJ38dt .form-2oOOG9 .footer-31IekZ {
  background-color: transparent;
}
.layerContainer-2v_Sit .focusLock-2tveLW .container-KJ38dt .form-2oOOG9 .minorContainer-1tix62 .text-xs-normal-3SiVjE {
  color: white;
}
.layerContainer-2v_Sit .focusLock-2tveLW .container-KJ38dt .form-2oOOG9 .button-f2h6uQ {
  background-color: rgba(0, 0, 0, 0.2) !important;
  border-style: solid;
  border-color: var(--generalColor);
  border-width: 2px;
  box-shadow: 0px 0px 5px var(--generalColor) !important;
  backdrop-filter: blur(5px);
}
.layerContainer-2v_Sit .focusLock-2tveLW .container-KJ38dt .form-2oOOG9 strong {
  font-weight: bold;
}

/* Stream Window Popout Overlay */
.pictureInPicture-1GQX91 .pictureInPictureWindow-3ms5Zy {
  border: 2px solid var(--generalColor);
  box-shadow: 0px 0px 5px var(--generalColor) !important;
}

/* Stream Preview */
.layerContainer-2v_Sit .layer-2aCOJ3 .streamPreviewWrapper-1O-B1g .streamPreview-I7itZ6, .layerContainer-2v_Sit .layer-2aCOJ3 .streamPreviewWrapper-1O-B1g .previewImage-2bOVD-, .layerContainer-2v_Sit .layer-2aCOJ3 .streamPreviewWrapper-1O-B1g .previewContainer-35LFgt {
  background-color: transparent;
}
.layerContainer-2v_Sit .layer-2aCOJ3 .streamPreviewWrapper-1O-B1g .streamPreview-I7itZ6 {
  background-color: rgba(0, 0, 0, 0.2);
  box-shadow: 0px 0px 5px gray;
  text-shadow: 0px 0px 5px black;
  backdrop-filter: blur(5px);
}
.layerContainer-2v_Sit .layer-2aCOJ3 .streamPreviewWrapper-1O-B1g .text-sm-normal-3Zj3Iv {
  color: white !important;
}

/* Message Style */
.username-h_Y3Us {
  font-weight: 600;
  text-shadow: 0px 0px 5px black;
}
.messageContent-2t3eCI {
  color: white;
  text-shadow: 0px 0px 5px black;
}
.messageListItem-ZZ7v6g:hover {
  background-color: rgba(255, 255, 255, 0.1);
}
.timestamp-p1Df1m {
  font-weight: 700;
  color: white !important;
  text-shadow: 0px 0px 5px black;
}
.content-vSHmMD {
  color: rgb(222, 222, 222);
}
.anchor-1MIwyf {
  font-weight: 600 !important;
}
.divider-IqmEqJ {
  background-color: white !important;
  height: 2px;
  border: none;
  box-shadow: 0px 0px 5px white;
  margin-top: 2px !important;
  margin-bottom: 2px !important;
}
.unreadPill-3nEWYM {
  background-color: white;
  color: black;
  box-shadow: 0px 0px 15px white;
}
.unreadPillCapStroke-1nE1Q8 {
  color: white;
  fill: white;
  box-shadow: 0px 0px 15px white;
}
.content-3spvdd {
  color: white;
  text-shadow: 0px 0px 5px black;
  background-color: rgba(0, 0, 0, 0.3);
  backdrop-filter: blur(5px);
  padding: 5px;
}
.roleColor-nA7BqX {
  color: white;
}
.repliedTextPreview-1bvxun {
  font-weight: 700;
  color: white;
  text-shadow: 0px 0px 5px black !important;
}
.repliedTextContent-2hOYMB {
  font-weight: 700;
  color: white;
  text-shadow: 0px 0px 5px black !important;
}
.reaction-3vwAF2, .reactionMe-1PwQAc {
  background-color: transparent !important;
  border-style: solid !important;
  border-color: var(--generalColor) !important;
  border-width: 2px !important;
  box-shadow: 0px 0px 5px var(--generalColor) !important;
}
.reaction-3vwAF2:hover {
  background-color: rgba(255, 255, 255, 0.2);
  border-style: solid;
  border-color: var(--generalColor);
  border-width: 2px;
  box-shadow: 0px 0px 5px var(--generalColor) !important;
}
.attachment-1PZZB2 {
  background-color: rgba(0, 0, 0, 0.4);
}

/* Message Quick Action Buttons */
.wrapper-2vIMkT {
  background-color: rgba(0, 0, 0, 0.2);
  backdrop-filter: blur(5px);
  box-shadow: 0px 0px 5px gray;
}
.wrapper-2vIMkT .button-3bklZh {
  color: white;
}

/* Emote Info Popout */
.layerContainer-2v_Sit .layer-2aCOJ3 .popoutContainer-2wbmiM {
  background-color: rgba(0, 0, 0, 0.2);
  box-shadow: 0px 0px 5px gray;
  backdrop-filter: blur(15px);
}
.layerContainer-2v_Sit .layer-2aCOJ3 .popoutContainer-2wbmiM .guildSection-2Zyzy8 {
  background-color: transparent;
}

/* User Popout */
.userPopout-2j1gM4 {
  background-color: rgba(0, 0, 0, 0.2);
  backdrop-filter: blur(10px);
  background-size: cover;
  box-shadow: 0px 0px 5px gray;
  border-radius: 10px;
}
.footer-3naVBw {
  background-color: transparent;
}
.bodyInnerWrapper-2bQs1k {
  background-color: transparent;
}
.banner-1YaD3N {
  background-color: transparent !important;
}
.inputWrapper-1YNMmM .inputDefault-3FGxgL {
  background-color: rgba(0, 0, 0, 0.2);
}
.bodyTitle-2Az3VQ {
  font-weight: 500;
  color: white !important;
}
.topSection-13QKHs, .body-1Ukv50, .root-8LYsGj {
  background-color: transparent !important;
  backdrop-filter: blur(5px);
}
.root-8LYsGj {
  border-style: solid;
  border-color: var(--generalColor);
  border-width: 2px;
  box-shadow: 0px 0px 5px var(--generalColor) !important;
}
.focusLock-2tveLW .relationshipButtons-3ByBpj .colorGreen-3y-Z79 {
  background-color: rgba(0, 0, 0, 0.2) !important;
  border-style: solid;
  border-color: var(--generalColor);
  border-width: 2px;
  box-shadow: 0px 0px 5px var(--generalColor) !important;
  backdrop-filter: blur(5px);
}
.userInfoText-2MFCmH {
  overflow: visible;
}
.userPopout-2j1gM4 .bodyTitle-2Az3VQ, .userPopout-2j1gM4 .activityUserPopout-2MzGCj .headerText-3g1XK9, .userPopout-2j1gM4 .activityUserPopout-2MzGCj .nameNormal-2fPMD2, .userPopout-2j1gM4 .activityUserPopout-2MzGCj .playTime-3fSgOm {
  color: white !important;
  text-shadow: 0px 0px 5px black !important;
}
.gameIcon-1mDo1J {
  box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.2);
}
.note-3M15gE, .note-Go5ZP2 {
  background-color: rgba(0, 0, 0, 0.3);
}
.note-Go5ZP2 .textarea-_59yqs {
  color: white !important;
}
.note-3M15gE textarea:focus, .note-Go5ZP2 textarea:focus {
  background-color: rgba(0, 0, 0, 0.5);
}
.userPopout-2j1gM4 .userInfoBody-1zgAd0, .userPopout-2j1gM4 .userInfoTitle-39qq0Y, .userPopout-2j1gM4 .voiceActivityHeader, .userPopout-2j1gM4 .voiceActivityText {
  color: white !important;
  text-shadow: 0px 0px 5px black !important;
}
.footer-3naVBw .inputWrapper-1YNMmM, .footer-3naVBw .inputWrapper-1YNMmM .inputDefault-3FGxgL {
  color: white !important;
  text-shadow: 0px 0px 5px black !important;
}
.userPopout-2j1gM4 .avatar-2Vndt_ {
  border-color: rgba(0, 0, 0, 0.2);
  background-color: rgba(0, 0, 0, 0.2);
}
.connectedAccountContainer-SlCC-S {
  background-color: rgba(0, 0, 0, 0.02);
  box-shadow: 0px 0px 5px rgba(255, 255, 255, 0.3);
}
.headerText-1-WmDq div {
  color: white !important;
}
.userPopout-2j1gM4 .button-TGAkj4 {
  background-color: rgba(0, 0, 0, 0.2) !important;
  border-style: solid;
  border-color: var(--generalColor);
  border-width: 2px;
  box-shadow: 0px 0px 5px var(--generalColor) !important;
  backdrop-filter: blur(5px);
}

/* Emote, GIF, Sticker Menu */
.layerContainer-2v_Sit .positionLayer-1cndvf .positionContainer-dMArNx, .layerContainer-2v_Sit .positionLayer-1cndvf .drawerSizingWrapper-1txdWG {
  background-color: transparent !important;
  max-width: 424px !important;
}
.layerContainer-2v_Sit .positionLayer-1cndvf .contentWrapper-3vHNP2 {
  background-color: rgba(0, 0, 0, 0.2);
  backdrop-filter: blur(10px);
  background-size: cover;
  box-shadow: 0px 0px 5px gray;
  border-radius: 10px;
}
.layerContainer-2v_Sit .positionLayer-1cndvf .searchBar-2M9mRP, .layerContainer-2v_Sit .positionLayer-1cndvf .wrapper-n2dlvs .medium-13kyaW {
  background-color: rgba(255, 255, 255, 0.08) !important;
  caret-color: white;
  color: white;
  left: -1px;
  top: -0.5px !important;
}
.layerContainer-2v_Sit .positionLayer-1cndvf .header-1ULbqO, .layerContainer-2v_Sit .positionLayer-1cndvf .packHeader-w9jpYl {
  background-color: rgba(0, 0, 0, 0.2);
  border-bottom: 1px solid rgba(255, 255, 255, 0.2);
}
.layerContainer-2v_Sit .positionLayer-1cndvf .categoryList-2qRrlj, .layerContainer-2v_Sit .positionLayer-1cndvf .categoryList-2GgCrD {
  border-top: 1px solid rgba(255, 255, 255, 0.2);
  background-color: transparent;
  padding-right: 5px !important;
}
.layerContainer-2v_Sit .positionLayer-1cndvf .categoryItemDefaultCategorySelected-2YeRUu, .layerContainer-2v_Sit .positionLayer-1cndvf .stickerCategory-2f6iSo[class*="Selected"] {
  border: 2px solid var(--generalColor);
  border-radius: 50px;
  box-shadow: 0px 0px 5px var(--generalColor);
  background-color: rgba(255, 255, 255, 0.05);
}
.layerContainer-2v_Sit .positionLayer-1cndvf .inspector-DFKXwB {
  border-top: 1px solid rgba(255, 255, 255, 0.2);
  background-color: rgba(255, 255, 255, 0.05);
}
.layerContainer-2v_Sit .positionLayer-1cndvf .emojiItemSelected-2Lg50V, .layerContainer-2v_Sit .positionLayer-1cndvf .stickerInspected-mwnU6w .inspectedIndicator-27zwNZ {
  background-color: rgba(255, 255, 255, 0.1);
}
.layerContainer-2v_Sit .positionLayer-1cndvf .guildIcon-2SUGiq {
  background-color: transparent;
}
.layerContainer-2v_Sit .positionLayer-1cndvf .upsell-3B1lnN {
  display: none;
}
/* TODO, add bottom separation between top buttons */
/* TODO, fix selection on server icons (add style) */
/* TODO, fix emote size maybe? Shhh bug=feature though! */
/* .layerContainer-2v_Sit .positionLayer-1cndvf .navList-YSb9UB {
  
} */
.layerContainer-2v_Sit .positionLayer-1cndvf button[aria-selected~="true"] {
  background-color: rgba(0, 0, 0, 0.2) !important;
  border-style: solid;
  border-color: var(--generalColor);
  border-width: 2px;
  box-shadow: 0px 0px 5px var(--generalColor) !important;
  backdrop-filter: blur(5px);
}

/* Mention */
.mentioned-Tre-dv {
  background-color: rgba(255, 214, 101, 0.2);
}
.roleMention-11Aaqi:cont {
  /* color: rgb(0, 238, 255) !important; Not possible to add to only @here and @everyone without JS */
  text-shadow: 0px 0px 5px black;
}
.roleMention-11Aaqi:hover {
  background-color: rgba(255, 255, 255, 0.2) !important;
}

/* Speaking User */
.speaking-7QZEkv {
  box-shadow: inset 0px 0px 30px var(--generalColor),inset 0 0 0 3px var(--generalColor) !important;
}
.avatarSpeaking-2pCGrZ {
  box-shadow: inset 0px 0px 10px var(--generalColor),inset 0 0 0 2px var(--generalColor) !important;
}
.avatarSpeaking-33RRJU {
  box-shadow: inset 0px 0px 10px var(--generalColor),inset 0 0 0 2px var(--generalColor) !important;
}
.speaking-3RWJBr {
  box-shadow: inset 0px 0px 10px var(--generalColor),inset 0 0 0 2px var(--generalColor) !important;
}
.speaking-3K28iH {
  box-shadow: inset 0 0 0 2px var(--generalColor),inset 0 0 0 3px transparent;
}
.overlay-2RIWoZ {
  z-index: 1;
}

/* Screenshare Menu */
.focusLock-2tveLW[aria-labelledby] .modalSize-3WSXDU {
  background-color: transparent !important;
  backdrop-filter: blur(5px);
}
.focusLock-2tveLW[aria-labelledby] {
  border-style: solid;
  border-color: var(--generalColor);
  border-width: 2px;
  box-shadow: 0px 0px 5px var(--generalColor) !important;
}
.focusLock-2tveLW[aria-labelledby] .footer-31IekZ {
  border-top: 2px solid rgba(128, 128, 128, 0.2);
  background-color: rgba(0, 0, 0, 0.2);
}
.focusLock-2tveLW[aria-labelledby] .card-m7VgZ8 {
  background-color: rgba(0, 0, 0, 0.2);
}
.focusLock-2tveLW[aria-labelledby] .group-1_ptLP button {
  background-color: rgba(0, 0, 0, 0.2) !important;
  border-style: solid;
  border-color: rgba(128, 128, 128, 0.2);
  border-width: 2px;
  backdrop-filter: blur(5px);
  margin: 5px;
  padding: 5px;
}
.focusLock-2tveLW[aria-labelledby] .group-1_ptLP button[class~="selectorButtonSelected-3cQUnj"] {
  background-color: rgba(0, 0, 0, 0.2) !important;
  border-style: solid;
  border-color: var(--generalColor);
  border-width: 2px;
  box-shadow: 0px 0px 5px var(--generalColor) !important;
  backdrop-filter: blur(5px);
  margin: 5px;
  padding: 5px;
}
.focusLock-2tveLW[aria-labelledby] .footer-31IekZ .button-f2h6uQ, .focusLock-2tveLW[aria-labelledby] .changeButton-2kfgQt, .qualitySettingsContainer-2LjkfM .select-1Ia3hD {
  background-color: rgba(0, 0, 0, 0.2) !important;
  border-style: solid;
  border-color: var(--generalColor);
  border-width: 2px;
  box-shadow: 0px 0px 5px var(--generalColor) !important;
  backdrop-filter: blur(5px);
}
.layer-2aCOJ3 .popout-1KHNAq {
  background-color: rgba(0, 0, 0, 0.3);
  backdrop-filter: blur(10px);
  box-shadow: 0px 0px 5px gray;
}
.layer-2aCOJ3 .selectedIcon-19TbzU path {
  fill: rgb(128, 128, 128);
}
.focusLock-2tveLW[aria-labelledby] .tile-3POX2m:hover .sourceThumbnail-ERDcZE {
  /* box-shadow: inset 0 0 0 2px var(--generalColor); */
  box-shadow: 0px 0px 5px var(--generalColor),inset 0 0 0 2px var(--generalColor) !important;
}
.focusLock-2tveLW[aria-labelledby] .art-1TvEXv {
  display: none;
}
.focusLock-2tveLW[aria-labelledby] .modalCloseButton-3jqiBN {
  color: var(--generalColor);
  z-index: 20 !important;
}
.content-2a4AW9 .container-3EtAkD {
  background-color: rgba(0, 0, 0, 0.3);
  backdrop-filter: blur(5px);
}

/* callContainer Users */
.callContainer-HtHELf .row-jreWvj .tile-2Dr6M1 {
  filter: drop-shadow(0px 0px 5px rgba(255, 255, 255, 0.3));
  margin: 5px !important;
}
.callContainer-HtHELf .row-jreWvj .root-u9h3Ui {
  background-color: rgba(0, 0, 0, 0.3);
  box-shadow: 0px 0px 5px rgba(255, 255, 255, 0.2);
}
.callContainer-HtHELf .row-jreWvj .button-f2h6uQ:not([class~="outerButton-q7U2Mf"]), .callContainer-HtHELf .row-jreWvj .outerButton-q7U2Mf .contents-3ca1mk {
  background-color: rgba(0, 0, 0, 0.2) !important;
  border-style: solid;
  border-color: var(--generalColor);
  border-width: 2px;
  box-shadow: 0px 0px 5px var(--generalColor) !important;
}

/* Sharing Screen Viewers Menu */
.layerContainer-2v_Sit .scroller-3b1p7z {
  background-color: rgba(0, 0, 0, 0.3);
  backdrop-filter: blur(5px);
  border: 2px solid var(--generalColor);
  box-shadow: 0px 0px 5px var(--generalColor);
}
.layerContainer-2v_Sit .scroller-3b1p7z .memberListHeader-1V_jWz {
  color: white;
}
.layerContainer-2v_Sit .scroller-3b1p7z .memberListItem-3V-x8Q:hover {
  background-color: rgba(255, 255, 255, 0.1);
}

/* Network status menu */
.layer-2aCOJ3 .container-1ILvLB .graphContainer-3Txdak {
  background-color: rgba(0, 0, 0, 0.2) !important;
}
.layer-2aCOJ3 .container-1ILvLB {
  background-color: rgba(0, 0, 0, 0.3) !important;
  backdrop-filter: blur(10px);
  border: 2px solid var(--generalColor);
  box-shadow: 0px 0px 5px var(--generalColor);
}
.layer-2aCOJ3 .container-1ILvLB .popoutText-3NRmTw {
  color: white;
}

/* Pinned Messages Popout */
.layerContainer-2v_Sit .layer-2aCOJ3 .header-1w9Q93, .layerContainer-2v_Sit .layer-2aCOJ3 .footer-5ji8u1 {
  background-color: transparent;
}
.layerContainer-2v_Sit .layer-2aCOJ3 .messagesPopoutWrap-3zryHW {
  background-color: rgba(0, 0, 0, 0.4);
  backdrop-filter: blur(5px);
}
.messageGroupWrapper-1jf_7C {
  background-color: rgba(0, 0, 0, 0.4);
}

/* Scrollbar Stuff */
::-webkit-scrollbar {
  border: none!important;
  width: 5px!important;
  background-color: transparent !important;
}
::-webkit-scrollbar-track {
  background-color: rgba(255, 255, 255, 0.05) !important;
  border: none!important;
}
.scrollableContainer-15eg7h::-webkit-scrollbar-track {
  background-color: transparent !important;
}
::-webkit-scrollbar-track-piece {
  background: 0 0!important;
  border: none!important;
}
::-webkit-scrollbar-thumb {
  background: var(--generalColor)!important;
  border-radius: 20px!important;
  border: none!important;
}

.content-3YMskv {
  background-color: transparent !important;
}

/* Text Selection */
*::selection {
  background-color: rgba(255, 255, 255, 0.4) !important;
}

/* Settings Stuff */
.bd-addon-card .bd-addon-header {
  background-color: rgba(24, 24, 24, 0.692);
}
.bd-addon-card {
  background-color: rgba(0, 0, 0, 0.4) !important;
}
.bd-description {
  font-weight: 600 !important;
  color: white !important;
  text-shadow: 0px 0px 5px black;
}
.bd-meta {
  font-weight: bolder !important;
  color: white;
  text-shadow: 0px 0px 5px black;
}
.bd-settings-title, .bd-setting-note {
  color: white !important;
  text-shadow: 0px 0px 5px black;
}
.accountProfileCard-lbN7n- {
  background-color: rgba(0, 0, 0, 0.4);
}
.contentColumn-1C7as6 .card-3JmxsM {
  background-color: rgba(0, 0, 0, 0.15);
  border: 1px solid #303030;
}
.contentColumn-1C7as6 .tier-3CS7-p .tierBody-1d3UiS {
  background-color: rgba(0, 0, 0, 0.15);
  border: 1px solid #303030;
  border-top: none;
}
.contentColumn-1C7as6 .tierHeaderLocked-30MLlO {
  border: 1px solid #303030;
  border-bottom: none;
  background-color: rgba(0, 0, 0, 0.3);
}
.tierHeaderWithoutCardBody-1iT8o_, .container-3EtAkD {
  background-color: rgba(0, 0, 0, 0.25) !important;
  border: 1px solid #303030;
}
.background-3d_SjE, .fieldList-in8WkP {
  background-color: transparent;
}
.item-2idW98 {
  background-color: rgba(0, 0, 0, 0.4);
  backdrop-filter: blur(5px);
}
.button-f2h6uQ[class~="colorBrand-I6CyqQ"]:not(.button-12Fmur):not(.button-1kija8):not(.lookBlank-21BCro), .button-f2h6uQ[class~="fieldButton-14lHv"], .fieldList-in8WkP button:not([class~="lookLink-15mFoz"]), .ttsPreviewWrapper-1d5bI6 .button-f2h6uQ {
  background-color: rgba(0, 0, 0, 0.2) !important;
  border-style: solid;
  border-color: var(--generalColor);
  border-width: 2px;
  box-shadow: 0px 0px 5px var(--generalColor) !important;
  backdrop-filter: blur(5px);
}
.button-f2h6uQ:hover {
  background-color: rgba(0, 0, 0, 0.2) !important;
}
.bar-1Bhnl9 {
  background-color: rgba(0, 0, 0, 0.2) !important;
  border: 1px solid rgba(128, 128, 128, 0.2) !important;
  overflow: visible !important;
  backdrop-filter: blur(5px) !important;
}
.barFill-2Bh7CX {
  background-color: var(--generalColor) !important;
  box-shadow: 0px 0px 5px var(--generalColor) !important;
  border: 1px solid var(--generalColor) !important;
  border-radius: 20px !important;
}
.colorStandard-1Xxp1s {
  color: white !important;
  text-shadow: 0px 0px 5px black;
}
.select-1Ia3hD {
  background-color: rgba(0, 0, 0, 0.4) !important;
  backdrop-filter: blur(5px);
}
.cameraWrapper-3a7Ngv {
  background-color: rgba(0, 0, 0, 0.4);
}
.preview-3k9WhO, .preview-QJ3OG3 {
  background-color: rgba(0, 0, 0, 0.4);
}
.preview-3k9WhO .previewMessage-2g_aBv {
  background-color: transparent;
}
.content-2t8mBc .guild-2Fq4I5 .guildHeader-1EPPBS {
  background-color: rgba(24, 24, 24, 0.692);
  backdrop-filter: blur(5px);
}
.content-2t8mBc .guild-2Fq4I5 .guildSubscriptionSlots-1i_C21 {
  background-color: rgba(0, 0, 0, 0.4) !important;
  backdrop-filter: blur(5px);
}
.content-2t8mBc .guild-2Fq4I5 .guildHeaderBackground-2xMDZT {
  display: none;
}
.content-2t8mBc .guilds-XTTuu3 .cardWrapper-1bSePP {
  background-color: rgba(0, 0, 0, 0.4);
  backdrop-filter: blur(5px);
}
.content-2t8mBc .guilds-XTTuu3 .cardWrapper-1bSePP .circleOverlay-8mT02H .gemIndicatorContainer-PqApbX {
  background-color: rgba(0, 0, 0, 0.2) !important;
}
.content-3dHeLs .paymentBanner-1PHefn, .content-3dHeLs .noItemsCard-5EOcCl, .content-3dHeLs .billingInformation-2bXmfE, .content-3dHeLs .detailsBlock-24pLFz {
  background-color: rgba(0, 0, 0, 0.4) !important;
  backdrop-filter: blur(5px);
}
.content-3dHeLs .paymentBanner-1PHefn .paymentBannerText-2qCsbh {
  color: white !important;
}
.profileBannerPreview-3mLIdO {
  background-color: rgba(0, 0, 0, 0.2) !important;
  backdrop-filter: blur(10px);
  background-size: cover;
  box-shadow: 0px 0px 5px gray;
  border-radius: 10px;
}
.backgroundOptionSelected-3J38oq .backgroundOptionRing-1vvQ0C {
  border-color: var(--generalColor);
  box-shadow: 0px 0px 5px var(--generalColor);
}
.children-1xdcWE .promotionCard-mo7ClH {
  background-color: rgba(0, 0, 0, 0.4) !important;
  backdrop-filter: blur(5px);
}
.activeGame-1OdxzI, .notDetected-M3Ghh2 {
  background-color: rgba(0, 0, 0, 0.4) !important;
  backdrop-filter: blur(5px);
}
.children-1xdcWE .accountList-Wii_T5 {
  background-color: rgba(24, 24, 24, 0.692) !important;
  backdrop-filter: blur(5px);
}
.children-1xdcWE .accountList-Wii_T5 .accountBtnInner-3ttD-i {
  background-color: rgba(0, 0, 0, 0.4) !important;
}
.searchContainer-u-1vUp .container-2oNtJn {
  background-color: rgba(24, 24, 24, 0.692) !important;
  backdrop-filter: blur(5px);
}
.buttonsContainer-3YZnb2 .circleButton-2Yr5A1, .membersHeader-6GlAlu .searchBar-3joS_I {
  background-color: rgba(24, 24, 24, 0.692) !important;
}
.layerContainer-2v_Sit .layer-2aCOJ3 .container-2O1UgZ {
  background-color: rgba(0, 0, 0, 0.2) !important;
  box-shadow: 0px 0px 5px gray !important;
  backdrop-filter: blur(5px);
}
.layerContainer-2v_Sit .layer-2aCOJ3 .container-2O1UgZ .itemLabel-27pirQ span {
  color: white !important;
}
.customHeader-3mDgmH .quickSelect-i8mQq1 .quickSelectLabel-ArUyd9, .customHeader-3mDgmH .quickSelect-i8mQq1 .quickSelectValue-rmtkbe {
  color: white !important;
}
.layerContainer-2v_Sit .layer-2aCOJ3 .container-2O1UgZ .item-1BCeuB[class~="selectedBrand-1AtwYE"] {
  background-color: rgb(255, 255, 255, 0.2);
}
.layerContainer-2v_Sit .layer-2aCOJ3 .container-2oNtJn {
  box-shadow: 0px 0px 5px gray !important;
  background-color: rgb(255, 255, 255, 0.2) !important;
}

.container-2nx-BQ[class~="checked-25WXMf"], .bd-switch input:checked+.bd-switch-body {
  /* On Checkbox */
  background: rgba(255, 255, 255, 0.2) !important;
  border: 2px solid var(--generalColor);
}

/* The unchecked checkbox's bg color */
.container-2nx-BQ:not([class~="checked-25WXMf"]), .bd-switch-body {
  /* Off Checkbox */
  background: rgba(255, 255, 255, 0.1) !important;
  border: 2px solid var(--border-Accent-Color);
}

/* Slider Head Position fix */
.slider-32CRPX, .bd-switch-slider {
  padding-bottom: 3px !important;
}
.sliderContainer-2nidiS .slider-BEB8u7 .grabber-2GQyvM {
  margin-top: 5px !important;
}

/* Plugin Compatibility */
/* Message Logger V2 by 1lighty */
.ml2-deleted-alt {
  border: 2px solid red !important;
  border-radius: 5px !important;
  box-shadow: 0px 0px 5px red !important;
}
.ml2-deleted .messageContent-2t3eCI {
  font-weight: bolder;
}
/* Voice Activity by Neodymium */
.VoiceActivity-voiceicon-icon {
  background-color: transparent;
  border-style: solid;
  border-color: var(--generalColor);
  border-width: 2px;
  box-shadow: 0px 0px 5px var(--generalColor) !important;
}
.VoiceActivity-voiceicon-icon:hover{
  background-color: rgba(255, 255, 255, 0.3);
}
.VoiceActivity-voicepopoutsection-button {
  background-color: rgba(0, 0, 0, 0.2) !important;
  border-style: solid;
  border-color: var(--generalColor);
  border-width: 2px;
  box-shadow: 0px 0px 5px var(--generalColor) !important;
  backdrop-filter: blur(5px);
}
.VoiceActivity-guildimage-defaultIcon {
  background-color: rgba(0, 0, 0, 0.3);
  border: 2px solid var(--border-Accent-Color);
  border-radius: 20px;
}
/* CharCounter by DevilBro */
.charCounter-7fw40k {
  font-weight: bold;
  color: white;
}
/* Copier by Strencher */
.copr-button .contents-3ca1mk {
  color: var(--generalColor) !important;
}
/* TopRoleEverywhere by DevilBro */
.containerDefault-YUSmu3 .voiceUser-3nRK-K .role-2TIOKu {
  margin-right: 8px;
}
/* OnlineFriendCount by Zerthox */
.friendsOnline-2JkivW {
  margin-top: 5px;
  color: white;
  line-height: 9px;
}
/* ServerCounter by DevilBro */
.serverCount-FsTTs1 {
  color: white;
  font-size: 10px;
  line-height: 13px;
  margin-bottom: 5px;
  text-decoration-thickness: auto;
}