/**
 * @name V3rzeT Theme
 * @version 1.0
 * @description Just my theme (:
 * @author V3rzeT
 * 
 * @website http://github.com/V3rzeT
 * @source https://github.com/V3rzeT/BetterDiscordThemes/blob/main/V3rzeT.theme.css
 */

@import url("https://dav1312.github.io/BD/SimpleBackground/main.css");

/* Main Theme Stuff */
:root {
    --generalColor: #0fefff;
    --border-Accent-Color: rgba(255, 255, 255, 0.555);

    --color-primary: transparent !important;
    --color-secondary: transparent !important;
    --color-tertiary: transparent !important;

    --background: linear-gradient(rgba(0,0,0,0.2), rgba(0,0,0,0.2)), url('https://i.imgur.com/oRRZNGd.png');
    --chat-transparency: 0.7;
    --sides-transparency: 0.5;
    --sides-blur: 3px;
}

/* Middle panel Background */
.chatContent-3KubbW {
  backdrop-filter: blur(0.5px);
}

/* Left Sidebar */
.scroller-3X7KbA {
  background-color: rgba(255, 255, 255, 0.03);
}

/* DM Chats */
.activityText-ev7Z1T {
  color: beige;
  text-shadow: 0px 0px 5px black;
}

/* Text Chat Search Panel */
.container-2McqkF {
  background-color: transparent !important;
  box-shadow: 0px 0px 5px gray !important;
  border: none !important;
}
.layer-2aCOJ3 .container-2McqkF .resultsGroup-cfY57t {
  background-color: rgba(0, 0, 0, 0.2);
  text-shadow: 0px 0px 5px black;
  backdrop-filter: blur(15px);
}
.layer-2aCOJ3 .container-2McqkF .header-1BR0Ro, .layer-2aCOJ3 .container-2McqkF .searchLearnMore-1gNL3A, .layer-2aCOJ3 .container-2McqkF .filter-2QaH9y, .layer-2aCOJ3 .container-2McqkF .answer-14OVbQ, .layer-2aCOJ3 .container-2McqkF .plusIcon-1RVszG{
  text-shadow: 0px 0px 5px black;
  color: white !important;
}
.layer-2aCOJ3 .container-2McqkF .option-ayUoaq:hover, .layer-2aCOJ3 .container-2McqkF .searchOption-3u1gRt:hover {
  background-color: rgba(255, 255, 255, 0.1) !important;
}
.layer-2aCOJ3 .container-2McqkF .searchOption-3u1gRt::after, .layer-2aCOJ3 .container-2McqkF .plusIcon-1RVszG {
  background: none !important;
}
.searchResultsWrap-5RVOkx {
  background-color: rgba(0, 0, 0, 0.4);
  backdrop-filter: blur(15px);
}
.searchResultsWrap-5RVOkx .searchHeader-1r_ZSh {
  background-color: rgba(0, 0, 0, 0.2);
  border-bottom: 1px solid rgba(128, 128, 128, 0.5);
}
.searchResultGroup-1lU_-i .channelName-3w2Y3c {
  background-color: transparent;
  color: white !important;
  text-shadow: 0px 0px 5px black;
}
.searchResult-O9NDji {
  background-color: rgba(0, 0, 0, 0.2);
  border-style: solid !important;
  border-width: 2px !important;
  border-color: var(--generalColor) !important;
  box-shadow: 0px 0px 5px var(--generalColor);
}
.searchResultsWrap-5RVOkx .pageButton-1GMGeJ[class~="activeButton-LRWFC_"] {
  background-color: transparent;
  border: 2px solid var(--generalColor);
  box-shadow: 0px 0px 5px var(--generalColor);
}
.searchResultsWrap-5RVOkx .pageButton-1GMGeJ[class~="activeButton-LRWFC_"]:hover {
  background-color: rgba(255, 255, 255, 0.2);
}

/* Quick Channel Finder */
.quickswitcher-pKcM9U {
  border-style: solid !important;
  border-width: 2px !important;
  border-color: var(--generalColor) !important;
  box-shadow: 0px 0px 5px var(--generalColor);

  background-color: rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(10px);
}
.quickswitcher-pKcM9U .scroller-2qwVWY {
  background-color: transparent;
}
.quickswitcher-pKcM9U .scroller-2qwVWY .result-u66Ywh[aria-selected=true] {
  background-color: rgba(255, 255, 255, 0.1);
}
.quickswitcher-pKcM9U .input-3r5zZY {
  border-style: solid !important;
  border-width: 2px !important;
  border-color: var(--generalColor) !important;
  box-shadow: 0px 0px 5px var(--generalColor);

  background-color: transparent;
}

/* Friend Activity Panel */
.container-1oAagU .itemCard-3Etziu {
  border-style: solid !important;
  border-width: 2px !important;
  border-color: var(--generalColor) !important;
  box-shadow: 0px 0px 5px var(--generalColor);

  background-color: rgba(0, 0, 0, 0.2);
}
.container-1oAagU .itemCard-3Etziu:hover{
  background-color: rgba(0, 0, 0, 0.3) !important;
}
.container-1oAagU .body-16rSsp, .container-1oAagU .section-3G9aLW {
  background-color: rgba(0, 0, 0, 0.2) !important;
}
.container-1oAagU .text-sm-normal-3Zj3Iv {
  color: white !important;
}
.container-1oAagU .outer-VAWfYQ {
  background-color: rgba(0, 0, 0, 0.5) !important;
  fill: transparent !important;
}

/* Code Blocks */
code.scrollbarGhostHairline-2LpzZ9 {
  border-style: solid !important;
  border-width: 2px !important;
  border-color: var(--generalColor) !important;
  box-shadow: 0px 0px 5px var(--generalColor);
}
code.inline {
  border-style: solid !important;
  border-width: 2px !important;
  border-color: var(--generalColor) !important;
  border-radius: 5px !important;
  box-shadow: 0px 0px 5px var(--generalColor);
  vertical-align: middle;
  margin: 0px 1.5px 0px 1px !important;
}
.zalgo-26OfGz .messageContent-2t3eCI {
  overflow: visible;
}

/* Bottom Left User Panel */
.panels-3wFtMD {
  background-color: rgba(255, 255, 255, 0.03);
}

/* Server Member Panel */
.membersWrap-3NUR2t {
  background-color: rgba(255, 255, 255, 0.03);
}
.desaturateUserColors-1O-G89 span {
  color: white !important;
}

/* Role Display Plugin Background fix */
.role-2TIOKu {
  background-color: rgba(0, 0, 0, 0.4);
}

/* Profile Nickname Font */
.username-3JLfHz, .discrimBase-1VOoau {
  color: white !important;
}

/*Right Click Dialog*/
.menu-1QACrS {
  background-color: rgba(0, 0, 0, 0.2);
  box-shadow: 0px 0px 5px gray;
  text-shadow: 0px 0px 5px black;
}
.menu-1QACrS::before {
  content: '';
  width: 100%;
  height: 100%;
  position: absolute;
  backdrop-filter: blur(15px);
  z-index: -999;
  border-radius: 5px;
}
.menu-1QACrS .button-1zW0-r {
  background-color: transparent;
  border: 2px solid rgba(255, 255, 255, 0.2);
}
.menu-1QACrS .item-1OdjEX[class~="focused-3qFvc8"] {
  background-color: rgba(255, 255, 255, 0.1) !important;
}
.label-2gNW3x {
  font-weight: 400;
  color: white;
}

/* Mute Mic Icon Fix */
.icon-N9JZb6 {
  color: white;
}
.strikethrough-2G7pYT {
  color: red;
}
.iconServer-GeSR0b {
  color: red;
}

/* Voice Channel People Count Transparency stuff */
.content-1gYQeQ .children-1MGS9G .channelInfo-3jN1ay  {
  border-width: 2px;
  border-radius: 12px;
  background-color: transparent;
  border-style: solid;
  border-color: rgba(255, 255, 255, 0.4);
}
.users-2JoyGL {
  color: white;
  background-color: rgba(255, 255, 255, 0.1);
}
.total-1c5KCN {
  color: white;
  background-color: rgba(255, 255, 255, 0.25);
}
.total-1c5KCN::after {
  border-right-color: rgba(255, 255, 255, 0.15);
}

/* Friends List */
.actionButton-3-B2x- {
  background: transparent !important;
  border-style: solid;
  border-width: 2px;
  border-radius: 30px;
  border-color: var(--border-Accent-Color);
  color: var(--generalColor);
  box-shadow: 0px 0px 5px var(--generalColor);
}
.container-ZMc96U .item-3mHhwr[aria-controls~="add_friend-tab"] {
  background-color: rgba(0, 0, 0, 0.2) !important;
  border-style: solid;
  border-color: var(--generalColor);
  border-width: 2px;
  box-shadow: 0px 0px 5px var(--generalColor) !important;
  backdrop-filter: blur(5px);
}

/* Embeds */
.embedProvider-1GSN0c, .embedTitle-2n1pEb, .embedDescription-1DrJxZ {
  text-shadow: 0px 0px 5px black !important;
}
.embedWrapper-1MtIDg:not(.imageWrapper-oMkQl4) {
  background-color: rgba(0, 0, 0, 0.123);
  border-style: solid;
  border-width: 2px;
  border-color: var(--generalColor) !important;
  box-shadow: 0px 0px 5px var(--generalColor);
}
.blockquoteDivider-363utW {
  background-color: var(--generalColor) !important;
  box-shadow: 0px 0px 5px var(--generalColor);
}
/* Message Attachment Image Border Fix */
/* I have no idea what looks better (no border around images at all, or only in embeds?)
.messageAttachment-CZp8Iv .imageWrapper-oMkQl4 {
  
  box-shadow: none !important;
  border: none !important;
} */

/* Server Color Stuff */
.channelName-3KPsGw {
  color: rgb(220, 220, 220) !important;
  text-shadow: 0px 0px 5px black;
}
.modeUnread-3Cxepe .channelName-3KPsGw {
  text-shadow: 0px 0px 5px black;
  color: white !important;
  /* font-weight: bold; */
}
.modeMuted-2T4MDZ .channelName-3KPsGw, .modeMuted-2T4MDZ .icon-2W8DHg {
  color: rgba(255, 255, 255, 0.5) !important;
  text-shadow: 0px 0px 5px black;
}
.name-3BUDLf, .icon-2W8DHg, .addButtonIcon-3rJeaD, .actionIcon-2sw4Sl, .arrow-2HswgU, .icon-2xnN2Y, .membersGroup-2eiWxlб, .content-1gYQeQ a:not([href]) .name-28HaxV .channelName-3KPsGw {
  color: white !important;
  text-shadow: 0px 0px 5px black;
}
.wrapper-1S43wv.muted-19J0ih .overflow-1wOqNV {
  color: rgba(255, 255, 255, 0.5) !important;
}
.channelInfo-3jN1ay {
  /* Little White Circle on Channels fix */
  border: none !important;
}
.channelInfo-3jN1ay .mentionsBadge-3H1BKJ {
  border-width: 2px;
  border-radius: 12px;
  border-style: solid;
  border-color: rgba(255, 255, 255, 0.4);
}

/* Channel Selection */
.selected-2TbFuo .content-1gYQeQ, .selected-3veCBZ {
  background-color: rgba(255, 255, 255, 0.12) !important;
}
.content-1gYQeQ:hover, .interactive-1vLZ_I:hover {
  background-color: rgba(255, 255, 255, 0.1) !important;
}

/* Voice Chat Nickname Color Fix */
/* and */
/* Chat List Nickname Color Fix */
.usernameFont-2oJxoI, .name-2m3Cms {
  color: white;
  font-weight: normal;
}

/* Bottom Left Panel Text */
/* .subtext-2HDqJ7:not(.usernameContainer-3PPkWq) {
  color: red;
} */
.subtext-2HDqJ7 {
  color: white;
}

/* Unread Message Channels */
.unread-36eUEm, .item-2LIpTv {
  background-color: var(--generalColor) !important;
  box-shadow: 0px 0px 5px var(--generalColor);
}

/* Unread Messages bar */
.unreadBar-elBRZx {
  background-color: rgba(0, 0, 0, 0.5);
  border-color: var(--generalColor);
  border-width: 2px;
  border-style: solid;
  box-shadow: 0px 0px 5px var(--generalColor);
  backdrop-filter: blur(5px);
}

/* Other unread messages bar */
.newMessagesBar-1hF-9G, .jumpToPresentBar-1cEnH0 {
  background-color: rgba(255, 255, 255, 0.2);
  border-color: var(--generalColor);
  border-width: 2px;
  border-style: solid;
  box-shadow: 0px 0px 5px var(--generalColor);
  backdrop-filter: blur(5px);
}

/* Activity Status Color Fix */
.activityText-1rR-8O {
  color: white;
}

/* Text Input Field Stuff */
.slateTextArea-27tjG0 {
  caret-color: white;
  color: white;
  left: -1px;
  top: -0.5px !important;
}
.scrollableContainer-15eg7h {
  background-color: rgba(255, 255, 255, 0.08) !important;
  box-shadow: 0px 0px 5px gray;
}
.form-3gdLxP {
  padding-top: 5px;
}
.searchBar-3TnChZ .searchBarComponent-3N7dCG, .searchBar-2aylmZ, .searchBar-jGtisZ {
  background-color: rgba(255, 255, 255, 0.1) !important;
  box-shadow: 0px 0px 5px var(--border-Accent-Color);
  color: white !important;
}
.searchBar-jGtisZ .public-DraftEditorPlaceholder-inner, .searchBar-jGtisZ .icon-18rqoe {
  color: white;
}

/* News Popout */
.modal-3Hrb0S {
  background-color: transparent;
}
.modal-3Hrb0S ul li {
  color: white !important;
}

/* Jump To Present Message Bar */
.jumpToPresentBar-1cEnH0 {
  margin-bottom: 7px;
}

/* Gray Button */
.button-1EGGcP {
  background-color: rgba(255, 255, 255, 0.1) !important;
}

/* Message Style */
.username-h_Y3Us {
  font-weight: 600;
  text-shadow: 0px 0px 5px black;
}
.messageContent-2t3eCI {
  color: white;
  text-shadow: 0px 0px 5px black;
}
.messageListItem-ZZ7v6g:hover {
  background-color: rgba(255, 255, 255, 0.1);
}
.timestamp-p1Df1m {
  font-weight: 700;
  color: white !important;
  text-shadow: 0px 0px 5px black;
}
.content-vSHmMD {
  color: rgb(222, 222, 222);
}
.anchor-1MIwyf {
  font-weight: 600 !important;
}
.divider-IqmEqJ {
  background-color: white !important;
  height: 2px;
  border: none;
  box-shadow: 0px 0px 5px white;
  margin-top: 2px !important;
  margin-bottom: 2px !important;
}
.unreadPill-3nEWYM {
  background-color: white;
  color: black;
  box-shadow: 0px 0px 15px white;
}
.unreadPillCapStroke-1nE1Q8 {
  color: white;
  fill: white;
  box-shadow: 0px 0px 15px white;
}
.content-3spvdd {
  color: white;
  text-shadow: 0px 0px 5px black;
  background-color: rgba(0, 0, 0, 0.3);
  backdrop-filter: blur(5px);
  padding: 5px;
}
.roleColor-nA7BqX {
  color: white;
}
.repliedTextPreview-1bvxun {
  font-weight: 700;
  color: white;
  text-shadow: 0px 0px 5px black !important;
}
.repliedTextContent-2hOYMB {
  font-weight: 700;
  color: white;
  text-shadow: 0px 0px 5px black !important;
}
.reaction-3vwAF2, .reactionMe-1PwQAc {
  background-color: transparent !important;
  border-style: solid !important;
  border-color: var(--generalColor) !important;
  border-width: 2px !important;
  box-shadow: 0px 0px 5px var(--generalColor) !important;
}
.reaction-3vwAF2:hover {
  background-color: rgba(255, 255, 255, 0.2);
  border-style: solid;
  border-color: var(--generalColor);
  border-width: 2px;
  box-shadow: 0px 0px 5px var(--generalColor) !important;
}

/* Message Quick Action Buttons */
.wrapper-2vIMkT {
  background-color: rgba(0, 0, 0, 0.2);
  backdrop-filter: blur(5px);
  box-shadow: 0px 0px 5px gray;
}
.wrapper-2vIMkT .button-3bklZh {
  color: white;
}

/* Server Icon Panel Transparency Stuff */
.circleIconButton-1VxDrg {
  background: transparent !important;
  border-style: solid;
  border-width: 2px;
  border-radius: 30px;
  border-color: var(--border-Accent-Color);
}
.circleIcon-3489FI {
  color: var(--generalColor);
  filter: drop-shadow(0px 0px 2px var(--generalColor));
}
.wrapper-3kah-n[class~="selected-1Drb7Z"] .childWrapper-1j_1ub {
  background-color: rgba(255, 255, 255, 0.2);
}
.folder-241Joy {
  background-color: rgba(255, 255, 255, 0.1);
}
.folder-241Joy:hover {
  background-color: rgba(255, 255, 255, 0.2);
}
.expandedFolderBackground-1kSAf6 {
  background-color: rgba(255, 255, 255, 0.2);
}

/* try to somehow add exception for guildsnav___home */
.childWrapper-1j_1ub {
  background-color: rgba(0, 0, 0, 0.3);
  /* border-style: solid;
  border-width: 2px;
  width: 45px;
  height: 45px;
  border-radius: 50%;
  border-color: var(--border-Accent-Color); */
}
.homeIcon-r0w4ny {
  border: none !important;
}
.tooltip-14MtrL, .layerContainer-2v_Sit .tooltipContent-Nejnvh {
  background-color: rgba(0, 0, 0, 0.15) !important;
  backdrop-filter: blur(5px);
  border-style: solid;
  border-color: var(--generalColor);
  border-width: 1px;
  border-radius: 5px;
  box-shadow: 0px 0px 5px var(--generalColor) !important;
}
.layerContainer-2v_Sit .tooltipPointer-3L49xb {
  /* This is the server name bubble left triangle that makes it look like a message. Removed because I didn't find out how to change it's color, and it's probably useless because of the border anyway */
  display: none;
}

/* User Popout */
.userPopout-2j1gM4 {
  background-color: rgba(0, 0, 0, 0.2);
  backdrop-filter: blur(10px);
  background-size: cover;
  box-shadow: 0px 0px 5px gray;
  border-radius: 0px;
}
.footer-3naVBw {
  background-color: transparent;
}
.bodyInnerWrapper-2bQs1k {
  background-color: transparent;
}
.banner-1YaD3N {
  background-color: transparent !important;
}
.inputWrapper-1YNMmM .inputDefault-3FGxgL {
  background-color: rgba(0, 0, 0, 0.2);
}
.bodyTitle-2Az3VQ {
  font-weight: 500;
  color: white !important;
}
.creationDate-CJwdKT {
  color: white;
}
.topSection-13QKHs, .body-1Ukv50, .root-8LYsGj {
  background-color: transparent !important;
  backdrop-filter: blur(5px);
}
.root-8LYsGj {
  border-style: solid;
  border-color: var(--generalColor);
  border-width: 2px;
  box-shadow: 0px 0px 5px var(--generalColor) !important;
}
.focusLock-2tveLW .relationshipButtons-3ByBpj .colorGreen-3y-Z79 {
  background-color: rgba(0, 0, 0, 0.2) !important;
  border-style: solid;
  border-color: var(--generalColor);
  border-width: 2px;
  box-shadow: 0px 0px 5px var(--generalColor) !important;
  backdrop-filter: blur(5px);
}
.userInfoText-2MFCmH {
  overflow: visible;
}
.userPopout-2j1gM4 .bodyTitle-2Az3VQ, .userPopout-2j1gM4 .activityUserPopout-2MzGCj .headerText-3g1XK9, .userPopout-2j1gM4 .activityUserPopout-2MzGCj .nameNormal-2fPMD2, .userPopout-2j1gM4 .activityUserPopout-2MzGCj .playTime-3fSgOm {
  color: white !important;
  text-shadow: 0px 0px 5px black !important;
}
.gameIcon-1mDo1J {
  box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.2);
}
.note-3M15gE, .note-Go5ZP2 {
  background-color: rgba(0, 0, 0, 0.3);
}
.note-Go5ZP2 .textarea-_59yqs {
  color: white !important;
}
.note-3M15gE textarea:focus, .note-Go5ZP2 textarea:focus {
  background-color: rgba(0, 0, 0, 0.5);
}
.userPopout-2j1gM4 .userInfoBody-1zgAd0, .userPopout-2j1gM4 .userInfoTitle-39qq0Y, .userPopout-2j1gM4 .voiceActivityHeader, .userPopout-2j1gM4 .voiceActivityText {
  color: white !important;
  text-shadow: 0px 0px 5px black !important;
}
.footer-3naVBw .inputWrapper-1YNMmM, .footer-3naVBw .inputWrapper-1YNMmM .inputDefault-3FGxgL {
  color: white !important;
  text-shadow: 0px 0px 5px black !important;
}
.userInfoBody-1zgAd0 {
  overflow: visible;
}
.userPopout-2j1gM4 .avatar-2Vndt_ {
  border-color: rgba(0, 0, 0, 0.2);
  background-color: rgba(0, 0, 0, 0.2);
}

/* Mention */
.mentioned-Tre-dv {
  background-color: rgba(255, 214, 101, 0.2);
}
.roleMention-11Aaqi:cont {
  /* color: rgb(0, 238, 255) !important; Not possible to add to only @here and @everyone without JS */
  text-shadow: 0px 0px 5px black;
}
.roleMention-11Aaqi:hover {
  background-color: rgba(255, 255, 255, 0.2) !important;
}

/* Speaking User */
.speaking-7QZEkv {
  /* box-shadow: inset 0 0 0 2px var(--generalColor),inset 0 0 0 3px transparent !important; */
  box-shadow: inset 0px 0px 30px var(--generalColor),inset 0 0 0 3px var(--generalColor) !important;
  /* var(--background-secondary) */
}
.avatarSpeaking-2pCGrZ {
  /* box-shadow: inset 0 0 0 2px var(--generalColor),inset 0 0 0 3px transparent !important; */
  box-shadow: inset 0px 0px 10px var(--generalColor),inset 0 0 0 2px var(--generalColor) !important;
}
.avatarSpeaking-33RRJU {
  box-shadow: inset 0px 0px 10px var(--generalColor),inset 0 0 0 2px var(--generalColor) !important;
}
.speaking-3RWJBr {
  box-shadow: inset 0px 0px 10px var(--generalColor),inset 0 0 0 2px var(--generalColor) !important;
}
.speaking-3K28iH {
  box-shadow: inset 0 0 0 2px var(--generalColor),inset 0 0 0 3px transparent;
}
.overlay-2RIWoZ {
  z-index: 1;
}

/* Screenshare Menu */
.focusLock-2tveLW[aria-labelledby] .modalSize-3WSXDU {
  background-color: transparent !important;
  backdrop-filter: blur(5px);
}
.focusLock-2tveLW[aria-labelledby] {
  border-style: solid;
  border-color: var(--generalColor);
  border-width: 2px;
  box-shadow: 0px 0px 5px var(--generalColor) !important;
}
.focusLock-2tveLW[aria-labelledby] .tile-3POX2m .flex-2S1XBF .flex-2S1XBF:hover {
  /* Add glowing generalColor outline, TBD */
}
.focusLock-2tveLW[aria-labelledby] .footer-31IekZ {
  border-top: 2px solid rgba(128, 128, 128, 0.2);
  background-color: rgba(0, 0, 0, 0.2);
}
.focusLock-2tveLW[aria-labelledby].card-m7VgZ8 {
  background-color: rgba(0, 0, 0, 0.2);
}
.focusLock-2tveLW[aria-labelledby] .group-1_ptLP button {
  background-color: rgba(0, 0, 0, 0.2) !important;
  border-style: solid;
  border-color: rgba(128, 128, 128, 0.2);
  border-width: 2px;
  backdrop-filter: blur(5px);
  margin: 5px;
  padding: 5px;
}
.focusLock-2tveLW[aria-labelledby] .group-1_ptLP button[class~="selectorButtonSelected-3cQUnj"] {
  background-color: rgba(0, 0, 0, 0.2) !important;
  border-style: solid;
  border-color: var(--generalColor);
  border-width: 2px;
  box-shadow: 0px 0px 5px var(--generalColor) !important;
  backdrop-filter: blur(5px);
  margin: 5px;
  padding: 5px;
}
.focusLock-2tveLW[aria-labelledby] .footer-31IekZ .button-f2h6uQ, .focusLock-2tveLW[aria-labelledby] .changeButton-2kfgQt, .qualitySettingsContainer-2LjkfM .select-1Ia3hD {
  background-color: rgba(0, 0, 0, 0.2) !important;
  border-style: solid;
  border-color: var(--generalColor);
  border-width: 2px;
  box-shadow: 0px 0px 5px var(--generalColor) !important;
  backdrop-filter: blur(5px);
}
.layer-2aCOJ3 .popout-1KHNAq {
  background-color: rgba(0, 0, 0, 0.3);
  backdrop-filter: blur(10px);
  box-shadow: 0px 0px 5px gray;
}
.layer-2aCOJ3 .selectedIcon-19TbzU path {
  fill: rgb(128, 128, 128);
}

/* Sharing Screen Viewers Menu */
.scroller-3b1p7z {
  background-color: rgba(0, 0, 0, 0.3);
  backdrop-filter: blur(5px);
  border: 2px solid var(--generalColor);
  box-shadow: 0px 0px 5px var(--generalColor);
}
.scroller-3b1p7z .memberListHeader-1V_jWz {
  color: white;
}

/* Network status menu */
#popout_10479 .container-1ILvLB .graphContainer-3Txdak {
  background-color: rgba(0, 0, 0, 0.2);
}
#popout_10479 .container-1ILvLB {
  background-color: rgba(0, 0, 0, 0.3);
  backdrop-filter: blur(10px);
  border: 2px solid var(--generalColor);
  box-shadow: 0px 0px 5px var(--generalColor);
}
#popout_10479 .container-1ILvLB .popoutText-3NRmTw {
  color: white;
}

/* Scrollbar Stuff */
::-webkit-scrollbar {
  border: none!important;
  width: 5px!important;
  background-color: transparent !important;
}
::-webkit-scrollbar-track {
  background-color: rgba(255, 255, 255, 0.05) !important;
  border: none!important;
}
.scrollableContainer-15eg7h::-webkit-scrollbar-track {
  background-color: transparent !important;
}
::-webkit-scrollbar-track-piece {
  background: 0 0!important;
  border: none!important;
}
::-webkit-scrollbar-thumb {
  background: var(--generalColor)!important;
  border-radius: 20px!important;
  border: none!important;
}

.content-3YMskv {
  background-color: transparent !important;
}

/* Text Selection */
*::selection {
  background-color: rgba(255, 255, 255, 0.4) !important;
}

/* Settings Stuff */
.bd-addon-card .bd-addon-header {
  background-color: rgba(24, 24, 24, 0.692);
}
.bd-addon-card {
  background-color: rgba(0, 0, 0, 0.4) !important;
}
.bd-description {
  font-weight: 600 !important;
  color: white !important;
  text-shadow: 0px 0px 5px black;
}
.bd-meta {
  font-weight: bolder !important;
  color: white;
  text-shadow: 0px 0px 5px black;
}
.bd-settings-title, .bd-setting-note {
  color: white !important;
  text-shadow: 0px 0px 5px black;
}
.accountProfileCard-lbN7n- {
  background-color: rgba(0, 0, 0, 0.4);
}
.background-3d_SjE, .fieldList-in8WkP {
  background-color: transparent;
}
.item-2idW98 {
  background-color: rgba(0, 0, 0, 0.4);
  backdrop-filter: blur(5px);
}
.button-f2h6uQ[class~="colorBrand-I6CyqQ"]:not(.button-12Fmur):not(.button-1kija8):not(.lookBlank-21BCro), .button-f2h6uQ[class~="fieldButton-14lHv"], .fieldList-in8WkP button:not([class~="lookLink-15mFoz"]) {
  background-color: rgba(0, 0, 0, 0.2) !important;
  border-style: solid;
  border-color: var(--generalColor);
  border-width: 2px;
  box-shadow: 0px 0px 5px var(--generalColor) !important;
  backdrop-filter: blur(5px);
}
.bar-1Bhnl9 {
  background-color: rgba(0, 0, 0, 0.2) !important;
  border: 1px solid rgba(128, 128, 128, 0.2) !important;
  overflow: visible !important;
  backdrop-filter: blur(5px) !important;
}
.barFill-2Bh7CX {
  background-color: var(--generalColor) !important;
  box-shadow: 0px 0px 5px var(--generalColor) !important;
  border: 1px solid var(--generalColor) !important;
  border-radius: 20px !important;
}
.colorStandard-1Xxp1s {
  color: white !important;
  text-shadow: 0px 0px 5px black;
}

.container-2nx-BQ[class~="checked-25WXMf"], .bd-switch input:checked+.bd-switch-body {
  /* On Checkbox */
  background: rgba(255, 255, 255, 0.2) !important;
  border: 2px solid var(--generalColor);
}

/* The unchecked checkbox's bg color */
.container-2nx-BQ:not([class~="checked-25WXMf"]), .bd-switch-body {
  /* Off Checkbox */
  background: rgba(255, 255, 255, 0.1) !important;
  border: 2px solid var(--border-Accent-Color);
}

/* Slider Head Position fix */
.slider-32CRPX, .bd-switch-slider {
  padding-bottom: 3px !important;
}
.sliderContainer-2nidiS .slider-BEB8u7 .grabber-2GQyvM {
  margin-top: 5px !important;
}

/* Plugin Compatibility */
/* Message Logger V2 by 1lighty */
.ml2-deleted-alt {
  border: 2px solid red !important;
  border-radius: 5px !important;
  box-shadow: 0px 0px 5px red !important;
}
.ml2-deleted .messageContent-2t3eCI {
  font-weight: bolder;
}
/* Voice Activity by Neodymium */
.voiceActivityIcon {
  background-color: transparent;
  border-style: solid;
  border-color: var(--generalColor);
  border-width: 2px;
  box-shadow: 0px 0px 5px var(--generalColor) !important;
}
.voiceActivityIcon:hover{
  background-color: rgba(255, 255, 255, 0.3);
}
.voiceActivityButton {
  background-color: rgba(0, 0, 0, 0.2) !important;
  border-style: solid;
  border-color: var(--generalColor);
  border-width: 2px;
  box-shadow: 0px 0px 5px var(--generalColor) !important;
  backdrop-filter: blur(5px);
}
.voiceActivityDefaultIcon {
  background-color: rgba(0, 0, 0, 0.3);
  border: 2px solid var(--border-Accent-Color);
  border-radius: 20px;
}
/* CharCounter by DevilBro */
.charCounter-7fw40k {
  font-weight: bold;
  color: white;
}